@page "/Accessories"

@inject IJSRuntime Js

@implements IDisposable

@inject NavigationManager Navigator

@code
{
    [Parameter]
    public DoorConfig doorConfig { get; set; }

    //[Parameter]
    //public bool ExtdecorIsFull { get; set; }

    [Parameter]
    public Configurator4 config4 { get; set; }
}

@code {
    protected override async Task OnInitializedAsync()
    {
		
        //if (!ExtdecorIsFull)
        //{
        //    // navigate back to Movingwing 
        //    //[TODO]  Navigator.NavigateTo("Movingwing");
        //}

		//if (!UiLogic.tabPageIsFilled("extdecor", doorConfig))
  //      {
  //          Js.InvokeVoidAsync("alert", "יש למלא את כל השדות בלשונית 'דקורציה חוץ' י");
  //      }

        //var doorConfigJsonV = await ProtectedSessionStore.GetAsync<string> ("doorConfigJson");
        //if (doorConfigJsonV.Success)
        //{
        //    string doorConfigJson2 = doorConfigJsonV.Value;
        //    if (!string.IsNullOrEmpty(doorConfigJson2))
        //         doorConfig = Newtonsoft.Json.JsonConvert.DeserializeObject<DoorConfig>(doorConfigJson2);
        //UiLogic.restoreDoorConfig(ProtectedSessionStore, doorConfig);          

        //Js.InvokeVoidAsync("alert", string.Format("in Extdecor:onInitializedAsync doorConfig.EXTCOLORID = {0}", doorConfig.EXTCOLORID));  //debug
     }
    
    
    async void IDisposable.Dispose()
    {
		 //if (!UiLogic.tabPageIsFilled("intdecor", doorConfig))
   //     {
   //         Js.InvokeVoidAsync("alert", "יש למלא את כל השדות בלשונית 'דקורציה פנים' י");
   //     }
        //int x = 17;
        //if (x == 18)
        //{
        //    Js.InvokeVoidAsync("alert", "error !");
        //    //NavigationManager.NavigateTo("Movingwing", true);
        //}
    }
}

<br />
<table>
    <tr>
        <td>
            <div class="tabPageTitle">
                <h1 class="rightLeftMargin">נילווים</h1>
            </div>
        </td>
    </tr>
</table>
           <table id="tblAccessoriesL1">
                <tr>
                                                    @{bool wcb = UiLogic.hideFld(doorConfig, "thWetColorBox");}
                                                    @if (!wcb)
                                                    {
                                                        <th id="thWetColorBox" >קופסאת צבע רטוב</th>
                                                    }
                                                    <th>כמות</th>
                                                    @{bool csp = UiLogic.hideFld(doorConfig, "thColorSpray");}
                                                    @if (!csp)
                                                    {
                                                        <th id="thColorSpray" >תרסיס צבע</th>
                                                    }
                                                    <th>כמות</th>
                                                    
                                                    @{bool clsp = UiLogic.hideFld(doorConfig, "thCleaningSpray");}
                                                     @if (!clsp)
                                                    {
                                                        <th id="thCleaningSpray" >תרסיס ניקוי</th>
                                                    }

                                                    <th id="thLCDEye">LCD עינית</th>

                                                    @{bool sl = UiLogic.hideFld(doorConfig, "thSafeLock");}
                                                    @if (!sl)
                                                    {
                                                        <th id="thSafeLock" >מנעול כספת</th>
                                                    }

                                                    @*
                                                         @{bool cr = UiLogic.hideFld(doorConfig, "thCore");}
                                                         @if (!cr)
                                                         {
                                                            <th id="thCore" >ליבה</th>
                                                         }

                                                        @{bool mz = UiLogic.hideFld(doorConfig, "thMezuza");}
                                                        @if (!mz)
                                                        {  
                                                            <th id="thMezuza" >מזוזה</th>
                                                        }
                                                    *@
                                                </tr>

                                                <tr>
                                                    @if (!wcb)
                                                    {
                                                        <td id="tdWetColorBox" >

                                                            <select  @bind="WetColorBoxID" >
                                                            </select>
                                                        </td>
                                                    }
                                                    @code
                                                    {
                                                            protected int _WetColorBoxID = 0;
                                                        protected int WetColorBoxID
                                                        {
                                                            get
                                                            {
                                                                if (doorConfig != null)
                                                                {
                                                                    _WetColorBoxID = doorConfig.WETCOLORBOXID;
                                                                }
                                                                return _WetColorBoxID;
                                                            }
                                                            set
                                                            {
                                                                _WetColorBoxID = value;
                                                                if (doorConfig != null)
                                                                    doorConfig.WETCOLORBOXID = _WetColorBoxID;
                                                            }
	                                                    }
                                                    }

                                                    @* WETCOLORBOXQ *@
                                                    <td>
                                                        <input type="number"  @bind="@WetColorBoxQ" class= "@doorConfig.borderColors["WETCOLORBOXQ"]" />
                                                    </td>
                                                    @code
							                        {
								                        protected int _WetColorBoxQ = 0;
								                        protected int WetColorBoxQ
								                        {
									                        get
									                        {
										                        if (doorConfig != null)
										                        {
											                        _WetColorBoxQ = doorConfig.WETCOLORBOXQ;
										                        }
										                        return _WetColorBoxQ;
									                        }
									                        set
									                        {
										                        _WetColorBoxQ = value;
										                        if (doorConfig != null)
										                        {
											                        doorConfig.WETCOLORBOXQ = _WetColorBoxQ;
											                        //doorConfig.borderColors["WETCOLORBOXQ"] = (value != 0 ? "blueBorder" : "redBorder"); // optional 
											                        //UiLogic.clearFollowingTabFields(doorConfig, "extdecor");
										                        }
									                        }
								                        }
							                        }

                                                    @if (!csp) {
                                                        <td id="tdColorSpray" >
                                                            <select @bind="ColorSprayID" >
                                                            </select>
                                                        </td>
                                                    }
                                                    @code
                                                    {
                                                        protected int _ColorSprayID = 0;
                                                        protected int ColorSprayID
                                                        {
                                                            get
                                                            {
                                                                if (doorConfig != null)
                                                                {
                                                                    _ColorSprayID = doorConfig.COLORSPRAYID;
                                                                }
                                                                return _ColorSprayID;
                                                            }
                                                            set
                                                            {
                                                                _ColorSprayID = value;
                                                                if (doorConfig != null)
                                                                    doorConfig.COLORSPRAYID = _ColorSprayID;
                                                            }
	                                                    }
                                                    }

                                                    @* COLORSPRAYQ*@
                                                    <td>
                                                        <input type="number"  @bind="@ColorSprayQ" class= "@doorConfig.borderColors["COLORSPRAYQ"]" />
                                                    </td>
                                                    @code
							                        {
								                        protected int _ColorSprayQ = 0;
								                        protected int ColorSprayQ
								                        {
									                        get
									                        {
										                        if (doorConfig != null)
										                        {
											                        _ColorSprayQ = doorConfig.COLORSPRAYQ;
										                        }
										                        return _ColorSprayQ;
									                        }
									                        set
									                        {
										                        _ColorSprayQ = value;
										                        if (doorConfig != null)
										                        {
											                        doorConfig.COLORSPRAYQ = _ColorSprayQ;
											                        //doorConfig.borderColors["WETCOLORBOXQ"] = (value != 0 ? "blueBorder" : "redBorder"); // optional 
											                        //UiLogic.clearFollowingTabFields(doorConfig, "extdecor");
										                        }
									                        }
								                        }
							                        }


                                                    @if (!clsp) {
                                                    <td id="tdCleaningSpray" >
                                                        <input type="checkbox" name="chkbCleaningSpray" @bind="CleaningSpray" />
                                                    </td>
                                                    }
                                                    @code
                                                    {
	                                                    protected bool _CleaningSpray = false;
	                                                    protected bool CleaningSpray
	                                                    {
		                                                    get
		                                                    {
			                                                    if (doorConfig != null)
			                                                    {
				                                                    _CleaningSpray = (doorConfig.CLEANINGSPRAY
                                                                    == "Y");
			                                                    }
			                                                    return _CleaningSpray;
		                                                    }
		                                                    set
		                                                    {
			                                                    _CleaningSpray = value;
			                                                    if (doorConfig != null)
				                                                    doorConfig.CLEANINGSPRAY = (_CleaningSpray ? "Y" : "");
		                                                    }
	                                                    }
                                                    }

           <td id="tdLCDEye" hidden="@UiLogic.hideFld(doorConfig, "LCDEye")">
              <input type="checkbox" name="chkbLCDEye" @bind="LCDEye" />
            @code
            {
                protected bool _LCDEye = false;
                protected bool LCDEye
                {
                    get
                    {
                        if (doorConfig != null)
                        {
                        _LCDEye = (doorConfig.LCDEYE == "Y");
                        }
                        return _LCDEye;
                    }
                    set
                    {
                        _LCDEye = value;
                        if (doorConfig != null)
                        doorConfig.LCDEYE = (_LCDEye ? "Y" : "");
                    }
                }
            }
            </td>



                                                 @if (!sl) {
                                                    <td id="tdSafeLock" >
                                                        <input type="checkbox" name="chkbSafeLock" @bind="SafeLock" />
                                                    </td>
                                                 }
                                                    @code
                                                    {
	                                                    protected bool _SafeLock = false;
	                                                    protected bool SafeLock
	                                                    {
		                                                    get
		                                                    {
			                                                    if (doorConfig != null)
			                                                    {
				                                                    _SafeLock = (doorConfig.SAFELOCK == "Y");
			                                                    }
			                                                    return _SafeLock;
		                                                    }
		                                                    set
		                                                    {
			                                                    _SafeLock = value;
			                                                    if (doorConfig != null)
				                                                    doorConfig.SAFELOCK = (_SafeLock ? "Y" : "");
		                                                    }
	                                                    }
                                                    }

  @*
                                                    @if (!cr)
                                                    {
                                                        <td id="tdCore" >
                                                            <input type="checkbox" name="chkbCore" @bind="Core1" />
                                                        </td>
                                                    }
                                                    @code
                                                    {
	                                                    protected bool _Core1 = false;
	                                                    protected bool Core1
	                                                    {
		                                                    get
		                                                    {
			                                                    if (doorConfig != null)
			                                                    {
				                                                    _Core1 = (doorConfig.CORE == "Y");
			                                                    }
			                                                    return _Core1;
		                                                    }
		                                                    set
		                                                    {
			                                                    _Core1 = value;
			                                                    if (doorConfig != null)
				                                                    doorConfig.CORE = (_Core1 ? "Y" : "");
		                                                    }
	                                                    }
                                                    }

                                                    @if (!mz)
                                                    {
                                                        <td id="tdMezuza" >
                                                            <input type="checkbox" name="chkbMezuza" @bind="Mezuza" />
                                                        </td>
                                                    }
                                                    @code
                                                    {
	                                                    protected bool _Mezuza = false;
	                                                    protected bool Mezuza
	                                                    {
		                                                    get
		                                                    {
			                                                    if (doorConfig != null)
			                                                    {
				                                                    _Mezuza = (doorConfig.MEZUZA == "Y");
			                                                    }
			                                                    return _Mezuza;
		                                                    }
		                                                    set
		                                                    {
			                                                    _Mezuza = value;
			                                                    if (doorConfig != null)
				                                                    doorConfig.MEZUZA = (_Mezuza ? "Y" : "");
		                                                    }
	                                                    }
                                                    }
            *@

                                                </tr>
                                        </table>
