@page "/Hinges"

@inject IJSRuntime Js

@implements IDisposable

@inject NavigationManager Navigator

@code
{
    [Parameter]
    public DoorConfig doorConfig { get; set; }

//    [Parameter]
//    public bool ExtdecorIsFull { get; set; }

	[Parameter]
    public Configurator4 config4 { get; set; }
}


@code {
	@inject NavigationManager NavigationManager;


    private bool openMsgBox = false;
    string errMsg2 = string.Empty;
    string errMsg3 = "xxxxxxxxxxxxxxxxxx";
    private string msgCaption = "שגיאה";
    string msgClass = "modal-body centeredMsg";
    private string MsgTitleCssClass = string.Empty;
	private string ErrMsgCssClass = "modal-body centeredMsg"; //"modal-body";  // "modal-body centeredMsg" 
	string msgBorder1Style = string.Empty;

    protected override async Task OnInitializedAsync()
    {
		
        //if (!ExtdecorIsFull)
        //{
        //    // navigate back to Movingwing 
        //    //[TODO]  Navigator.NavigateTo("Movingwing");
        //}

		//if (!UiLogic.tabPageIsFilled("extdecor", doorConfig))
  //      {
  //          Js.InvokeVoidAsync("alert", "יש למלא את כל השדות בלשונית 'דקורציה חוץ' י");
  //      }

        //var doorConfigJsonV = await ProtectedSessionStore.GetAsync<string> ("doorConfigJson");
        //if (doorConfigJsonV.Success)
        //{
        //    string doorConfigJson2 = doorConfigJsonV.Value;
        //    if (!string.IsNullOrEmpty(doorConfigJson2))
        //         doorConfig = Newtonsoft.Json.JsonConvert.DeserializeObject<DoorConfig>(doorConfigJson2);
        //UiLogic.restoreDoorConfig(ProtectedSessionStore, doorConfig);          

        //Js.InvokeVoidAsync("alert", string.Format("in Extdecor:onInitializedAsync doorConfig.EXTCOLORID = {0}", doorConfig.EXTCOLORID));  //debug
		if (UiLogic.try2UpdateBtnClass(doorConfig, "hinges"))
							config4.RefreshState();
     }
    
    
    async void IDisposable.Dispose()
    {
		 //if (!UiLogic.tabPageIsFilled("intdecor", doorConfig))
   //     {
   //         Js.InvokeVoidAsync("alert", "יש למלא את כל השדות בלשונית 'דקורציה פנים' י");
   //     }
        //int x = 17;
        //if (x == 18)
        //{
        //    Js.InvokeVoidAsync("alert", "error !");
        //    //NavigationManager.NavigateTo("Movingwing", true);
        //}
    }
}
<br />
<table>
    <tr>
        <td>
            <div class="tabPageTitle">
                <h1 class="rightLeftMargin">צירים</h1>
            </div>
        </td>
    </tr>
</table>
<table id="tblHinges">
                                                <tr>
                                                    <th id="thHingesNum" >מספר צירים</th>
                                                    <th id="thHinge1Height" >גובה מרכז ציר 1</th>
                                                    <th id="thHinge2Height" >גובה מרכז ציר 2</th>
  													<th id="thHinge3Height" >גובה מרכז ציר 3</th>
                                                    <th id="thHinge4Height" >גובה מרכז ציר 4</th>
                                                    <th id="thHinge5Height" >גובה מרכז ציר 5</th>
													<th id="thBackPinHeight" >גובה עוקץ אחורי</th>
                                                </tr>
        <tr>
            <td id="tdHingesNum" >
                <input type="number" name="txtHingesNum"  @bind="HingesNum" class= "@doorConfig.borderColors["HINGESNUM"]" 
				autocomplete="off"
                disabled="@doorConfig.disabledFlds["HINGESNUM"]"
                    @onfocus="@( () => UiLogic.HasFocus("HINGESNUM", doorConfig) )" 
                    @onblur="@( () => UiLogic.LostFocus(doorConfig) )" 
					/>
            </td>
        @code
        {
			protected int _HingesNum = 0;
			protected int HingesNum
			{
				get
				{
					if (doorConfig != null)
					{
						_HingesNum = doorConfig.HINGESNUM;
					}
					return _HingesNum;
				}
				set
				{
					int oldHingesNum = doorConfig.HINGESNUM;
					_HingesNum = value;
					if (doorConfig != null)
					{
						doorConfig.HINGESNUM = _HingesNum;
						@*
							if (_HingesNum < 5)
								doorConfig.HINGE5HEIGHT = 0;
							if (_HingesNum < 4)
								doorConfig.HINGE4HEIGHT = 0;
							if (_HingesNum < 3)
								doorConfig.HINGE3HEIGHT = 0;
						*@
						if (_HingesNum < 2 || _HingesNum > 5)
						{
							errMsg3 = "מספר הצירים חייב להיות בין 2 ל-5";
							openMsgBox = true;
						}
						else
						{
							//int lastHingeH = getLastHingeH(oldHingesNum);
							//setHingesHeights(_HingesNum, lastHingeH);
							errMsg3 = string.Empty;
							if (!setHingesHeights2(doorConfig.HINGESNUM,  oldHingesNum, ref errMsg3))
							{
								openMsgBox = true;
							}
							else if (UiLogic.try2UpdateBtnClass(doorConfig, "hinges"))
								config4.RefreshState();
						}
						doorConfig.borderColors["HINGESNUM"] = (value != 0 ? "blueBorder" : "redBorder");
						//UiLogic.clearFollowingTabFields(doorConfig, "hinges");

					}
				}
			}
			int getLastHingeH(int hingesNum)
			{
				switch (hingesNum)
				{
					case 2:
						return doorConfig.HINGE2HEIGHT;
					case 3:
						return doorConfig.HINGE3HEIGHT;
					case 4:
						return doorConfig.HINGE4HEIGHT;
					case 5:
						return doorConfig.HINGE5HEIGHT;
				}
				return 0;
			}

			void setHingesHeights (int newHingesNum, int lastHingeH)
			{
				doorConfig.HINGE3HEIGHT = doorConfig.HINGE4HEIGHT = doorConfig.HINGE5HEIGHT = 0; // init
				int gap = 0;
				switch (newHingesNum)
				{
					case 2:
						doorConfig.HINGE2HEIGHT = lastHingeH;
						doorConfig.HINGE3HEIGHT = doorConfig.HINGE4HEIGHT = doorConfig.HINGE5HEIGHT = 0;
						return;
					case 3:
						doorConfig.HINGE3HEIGHT = lastHingeH;
						gap = (lastHingeH - doorConfig.HINGE1HEIGHT) / 2;
						doorConfig.HINGE2HEIGHT = doorConfig.HINGE1HEIGHT + gap;
						return;
					case 4:
						doorConfig.HINGE4HEIGHT = lastHingeH;
						gap = (lastHingeH - doorConfig.HINGE1HEIGHT) / 3;
						doorConfig.HINGE2HEIGHT = doorConfig.HINGE1HEIGHT + gap;
						doorConfig.HINGE3HEIGHT = doorConfig.HINGE2HEIGHT + gap;
						return;
					case 5:
						doorConfig.HINGE5HEIGHT = lastHingeH;
						gap = (lastHingeH - doorConfig.HINGE1HEIGHT) / 4;
						doorConfig.HINGE2HEIGHT = doorConfig.HINGE1HEIGHT + gap;
						doorConfig.HINGE3HEIGHT = doorConfig.HINGE2HEIGHT + gap;
						doorConfig.HINGE4HEIGHT = doorConfig.HINGE3HEIGHT + gap;
						return;
				}
			}
			bool setHingesHeights2 (int newHingesNum, int oldHingesNum, ref string errMsg)
			{
				int hRange = UiLogic.HeightRange(doorConfig.DOORHEIGHT);

				bool err = false;
				switch (hRange)
				{
					case 2:
						if (newHingesNum == 3)  //(oldHingesNum == 2 && newHingesNum == 3)
						{
							//doorConfig.HINGE3HEIGHT = doorConfig.HINGE2HEIGHT;
							UiLogic.setHingesHeights(doorConfig, ref errMsg);
							doorConfig.HINGE2HEIGHT = doorConfig.optionalHingeHeight;
						}
						else if (newHingesNum == 2)  // restore original values
							UiLogic.setHingesHeights(doorConfig, ref errMsg);
						else
							err = true;
						break;
					case 3 :
						if (oldHingesNum == 3 && newHingesNum == 2)
						{
							doorConfig.HINGE2HEIGHT = doorConfig.HINGE3HEIGHT;
							doorConfig.HINGE3HEIGHT = 0;
						}
						else if (newHingesNum == 3)  // restore original values
							UiLogic.setHingesHeights(doorConfig, ref errMsg);
						else
							err = true;
						break;
					case 4:
						if (newHingesNum == 5) //(oldHingesNum == 4 && newHingesNum == 5)
						{
							UiLogic.setHingesHeights(doorConfig, ref errMsg);
							doorConfig.HINGE4HEIGHT = doorConfig.optionalHingeHeight;
						}
						else if (newHingesNum == 4)  // restore original values
							UiLogic.setHingesHeights(doorConfig, ref errMsg);
						else
							err = true;
						break;
					default:
						errMsg = string.Format("שינוי מספר צירים מ- {2} ל- {1}  אסור לדלת בגובה  {0} י ", doorConfig.DOORHEIGHT, newHingesNum, oldHingesNum);
						return false;
						break;
				}
				if (err)
				{
					errMsg = string.Format("שינוי מספר צירים מ- {2} ל- {1}  אסור לדלת בגובה  {0} י ", doorConfig.DOORHEIGHT, newHingesNum, oldHingesNum);
						return false;
				}
				return true;
			}
	 }
                                                    
        <td id="tdHinge1Height" class= "@doorConfig.borderColors["HINGE1HEIGHT"]" >
            <input type="number" name="txtHinge1Height"  @bind="Hinge1Height" 
				class= "@doorConfig.borderColors["HINGE1HEIGHT"]" 
				autocomplete="off"
                disabled="@doorConfig.disabledFlds["HINGE1HEIGHT"]"
                    @onfocus="@( () => UiLogic.HasFocus("HINGE1HEIGHT", doorConfig) )" 
                    @onblur="@( () => UiLogic.LostFocus(doorConfig) )" 
				/>
        </td>
        @code
        {
														protected int _Hinge1Height = 0;
														protected int Hinge1Height
														{
															get
															{
																if (doorConfig != null)
																{
																	_Hinge1Height = doorConfig.HINGE1HEIGHT;
																}
																return _Hinge1Height;
															}
															set
															{
																_Hinge1Height = value;
																if (doorConfig != null)
																{
																	doorConfig.HINGE1HEIGHT = _Hinge1Height;
																	doorConfig.borderColors["HINGE1HEIGHT"] = (value != 0 ? "blueBorder" : "redBorder");
																	//UiLogic.clearFollowingTabFields(doorConfig, "hinges");
																	if (UiLogic.try2UpdateBtnClass(doorConfig, "hinges"))
																						config4.RefreshState();
																}
															}
														}
													}
                <td id="tdHinge2Height" >
                    <input type="number" name="txtHinge2Height"  @bind="Hinge2Height" 
							class= "@doorConfig.borderColors["HINGE2HEIGHT"]"  
					autocomplete="off"
					disabled="@doorConfig.disabledFlds["HINGE2HEIGHT"]"
                    @onfocus="@( () => UiLogic.HasFocus("HINGE2HEIGHT", doorConfig) )" 
                    @onblur="@( () => UiLogic.LostFocus(doorConfig) )" 
					/>
                </td>
                @code
                {
			protected int _Hinge2Height = 0;
			protected int Hinge2Height
			{
				get
				{
					if (doorConfig != null)
					{
						_Hinge2Height = doorConfig.HINGE2HEIGHT;
					}
					return _Hinge2Height;
				}
				set
				{
					_Hinge2Height = value;
					if (doorConfig != null)
					{
						doorConfig.HINGE2HEIGHT = _Hinge2Height;
						doorConfig.HINGE4HEIGHT = _Hinge4Height;
						bool valueOk = (
								(value > 0 && doorConfig.HINGESNUM == 2 && doorConfig.HINGE3HEIGHT == 0)
							||  (value == 0 && doorConfig.HINGESNUM == 2 && doorConfig.HINGE3HEIGHT > 0)
					);
						doorConfig.borderColors["HINGE2HEIGHT"] = (valueOk ? "blueBorder" : "redBorder");

						if (value > 0 && doorConfig.HINGE3HEIGHT > 0 &&  doorConfig.HINGESNUM == 2)
						{
							errMsg3 = "ציינת גבהים של שלושה צירים כאשר מספר הצירים הוא 2";
							openMsgBox = true;
						}
						else if (value > 0 && value <= doorConfig.HINGE1HEIGHT)
						{
							errMsg3 = "ציר 2 חייב להיות גבוה מציר 1";
							openMsgBox = true;
						}
						else 
						{
						    //UiLogic.clearFollowingTabFields(doorConfig, "hinges");
							if (UiLogic.try2UpdateBtnClass(doorConfig, "hinges"))
									config4.RefreshState();
						}
}
		                                                    }
	                                                    }
                                                    }

                    <td id="tdHinge3Height" >
                        <input type="number" name="txtHinge3Height"  @bind="Hinge3Height" 
							class= "@doorConfig.borderColors["HINGE3HEIGHT"]" 
							disabled = "@(doorConfig.disabledFlds["HINGE3HEIGHT"] || doorConfig.HINGESNUM < 3)" 
							autocomplete="off"
							@onfocus="@( () => UiLogic.HasFocus("HINGE3HEIGHT", doorConfig) )" 
							@onblur="@( () => UiLogic.LostFocus(doorConfig) )" 
								/>
                    </td>
                    @code
					{
			protected int _Hinge3Height = 0;
			protected int Hinge3Height
			{
				get
				{
					if (doorConfig != null)
					{
						_Hinge3Height = doorConfig.HINGE3HEIGHT;
					}
					return _Hinge3Height;
				}
				set
				{
					_Hinge3Height = value;
					if (doorConfig != null)
					{
					    //doorConfig.HINGE3HEIGHT = _Hinge3Height;
						doorConfig.borderColors["HINGE3HEIGHT"] = (value != 0 ? "blueBorder" : "redBorder");
						if (value > 0 && value <= doorConfig.HINGE2HEIGHT)
						{
							errMsg3 = "ציר 3 חייב להיות גבוה מציר 2";
							openMsgBox = true;
						}
						else
						{
							doorConfig.HINGE3HEIGHT = _Hinge3Height;
							if (UiLogic.try2UpdateBtnClass(doorConfig, "hinges"))
								config4.RefreshState();
							//UiLogic.clearFollowingTabFields(doorConfig, "hinges");
						}
					}
				}
			}
		}
                        <td id="tdHinge4Height" >
                            <input type="number" name="txtHinge4Height"  @bind="Hinge4Height"  
								class= "@doorConfig.borderColors["HINGE4HEIGHT"]" 
								disabled = "@(doorConfig.disabledFlds["HINGE4HEIGHT"] || doorConfig.HINGESNUM < 4)" 
								autocomplete="off"
								@onfocus="@( () => UiLogic.HasFocus("HINGE3HEIGHT", doorConfig) )" 
								@onblur="@( () => UiLogic.LostFocus(doorConfig) )" 
						/>
                        </td>
						@code
						{
			protected int _Hinge4Height = 0;
			protected int Hinge4Height
			{
				get
				{
					if (doorConfig != null)
					{
						_Hinge4Height = doorConfig.HINGE4HEIGHT;
					}
					return _Hinge4Height;
				}
				set
				{
					_Hinge4Height = value;
					if (doorConfig != null)
					{
						//doorConfig.HINGE4HEIGHT = _Hinge4Height;
						bool valueOk = (
									(value != 0 && doorConfig.HINGESNUM == 4 && doorConfig.HINGE5HEIGHT == 0)
								||  (value == 0 && doorConfig.HINGESNUM == 4 && doorConfig.HINGE5HEIGHT > 0)
						);
						doorConfig.borderColors["HINGE4HEIGHT"] = (valueOk ? "blueBorder" : "redBorder");

						if (value > 0 && doorConfig.HINGE5HEIGHT > 0 && doorConfig.HINGESNUM == 4)
						{
							errMsg3 = "ציינת גבהים של חמישה צירים כאשר מספר הצירים הוא 4";
							openMsgBox = true;
						}
						else if (value > 0 && value <= doorConfig.HINGE3HEIGHT)
						{
							errMsg3 = "ציר 4 חייב להיות גבוה מציר 3";
							openMsgBox = true;
						}
						else
						{
							doorConfig.HINGE4HEIGHT = _Hinge4Height;
							//UiLogic.clearFollowingTabFields(doorConfig, "hinges");
							if (UiLogic.try2UpdateBtnClass(doorConfig, "hinges"))
								config4.RefreshState();
						}
					}
														}
													}
												}
                        <td id="tdHinge5Height" >
							<input type="number" name="txtHinge5Height"  @bind="Hinge5Height" 
								class= "@doorConfig.borderColors["HINGE5HEIGHT"]" 
								disabled = "@(doorConfig.disabledFlds["HINGE5HEIGHT"] || doorConfig.HINGESNUM < 5)" 
								autocomplete="off"
								@onfocus="@( () => UiLogic.HasFocus("HINGE5HEIGHT", doorConfig) )" 
								@onblur="@( () => UiLogic.LostFocus(doorConfig) )" 
							/>
                                                    </td>
													@code
													{
														protected int _Hinge5Height = 0;
														protected int Hinge5Height
														{
															get
															{
																if (doorConfig != null)
																{
																	_Hinge5Height = doorConfig.HINGE5HEIGHT;
																}
																return _Hinge5Height;
															}
															set
															{
																_Hinge5Height = value;
																doorConfig.borderColors["HINGE5HEIGHT"] = (value != 0 ? "blueBorder" : "redBorder");

																if (doorConfig != null)
																{
																	if (value > 0 && value <= doorConfig.HINGE4HEIGHT)
																	{
																		errMsg3 = "ציר 5 חייב להיות גבוה מציר 4";
																		openMsgBox = true;
																	}
																	else 
																	{
																		doorConfig.HINGE5HEIGHT= _Hinge5Height;
																         if (UiLogic.try2UpdateBtnClass(doorConfig, "hinges"))
																					config4.RefreshState();
																		//UiLogic.clearFollowingTabFields(doorConfig, "hinges");
																	}
																}
															}
														}
													}

													<td id="tdBackPinHeight"  >
                                                        <input type="number" name="txtBackPinHeight"  @bind="BackPinHeight" 
														     class= "@doorConfig.borderColors["BACKPINHEIGHT"]" 
														autocomplete="off"
														disabled="@doorConfig.disabledFlds["BACKPINHEIGHT"]"
															@onfocus="@( () => UiLogic.HasFocus("BACKPINHEIGHT", doorConfig) )" 
															@onblur="@( () => UiLogic.LostFocus(doorConfig) )" 
													    />
                                                    </td>
                                                    @code
                                                    {
	                                                    protected int _BackPinHeight = 0;
	                                                    protected int BackPinHeight
	                                                    {
		                                                    get
		                                                    {
			                                                    if (doorConfig != null)
			                                                    {
				                                                    _BackPinHeight = doorConfig.BACKPINHEIGHT;
			                                                    }
			                                                    return _BackPinHeight;
		                                                    }
		                                                    set
		                                                    {
			                                                    _BackPinHeight = value;
			                                                    if (doorConfig != null)
																{
				                                                    doorConfig.BACKPINHEIGHT = _BackPinHeight;
																	doorConfig.borderColors["BACKPINHEIGHT"] = (value != 0 ? "blueBorder" : "redBorder");
																	if (UiLogic.try2UpdateBtnClass(doorConfig, "hinges"))
																				config4.RefreshState();
																	//UiLogic.clearFollowingTabFields(doorConfig, "hinges");
																}
		                                                    }
	                                                    }
                                                    }

                                                </tr>
</table>
@if (openMsgBox)
{
	<MsgBox Caption="שגיאה"
	        Message = "@errMsg3"
			OnClose="OnDialogClose"
            MsgTitleCssClass="@MsgTitleCssClass"
            ErrMsgCssClass="@msgClass"
			Border1Style = "@msgBorder1Style"
	>
	</MsgBox>
	@code 
	{
		private void OnDialogClose()
		{
			openMsgBox = false;
			errMsg2 = string.Empty;
		}
	}
}
