@using BlazorServerApp1.Data
@using System.Data;

@page "/Movingwing"

@inherits MovingwingBase

@inject IJSRuntime Js

@implements IDisposable

@code
{
    [Parameter]
    public DoorConfig doorConfig { get; set; }

    [Parameter]
    public bool disableLogo { get; set; }

    [Parameter]
    public Configurator4 config4 { get; set; }

}

@code {
    @inject NavigationManager NavigationManager;


    protected bool openMsgBox = false;
    private bool openYesNo = false;
    string errMsg2 = string.Empty;
    string errMsg3 = "xxxxxxxxxxxxxxxxxx";
    private string msgCaption = "שגיאה";
    string msgClass = "modal-body centeredMsg";
    private string MsgTitleCssClass = string.Empty;
    string msgHeaderClass = "modal-header";
    string msgBorder1Style = string.Empty;

    private string ErrMsgCssClass = "modal-body centeredMsg"; //"modal-body";  // "modal-body centeredMsg" 
    string YNissue = string.Empty;
    private bool ansYes = false;
    int newLockDrilHeight = 0;

    private bool disableColor = true;
    private bool disableExtColor = true;
    private bool disableIntColor = true;
    
    //protected string currPropName = string.Empty;
    DataTable dtTabFlds = new DataTable();
      
    async void IDisposable.Dispose()
    {
        //string doorConfigJson = PrApiCalls.JsonSerializer<DoorConfig>(doorConfig);
        //await ProtectedSessionStore.SetAsync("doorConfigJson", doorConfigJson);
        //string doorConfigJson2 = ProtectedSessionStore.GetAsync<string>("doorConfigJson").ToString();
        //UiLogic.saveDoorConfig(doorConfig, ProtectedSessionStore);

        //Js.InvokeVoidAsync("alert", string.Format("in Movingwing Dispose : doorConfig.EXTCOLORID= ", doorConfig.EXTCOLORID));  //debug

        //if (!UiLogic.tabPageIsFilled("movingwing", doorConfig))
        //{
        //    Js.InvokeVoidAsync("alert", "יש למלא את כל השדות בלשונית 'כנף נעה' י");
        //}
        //Js.InvokeVoidAsync("alert", string.Format("in Movingwing:Dispose doorConfig.DRIL4TWOSIDESIDS = {0}", doorConfig.DRIL4TWOSIDESIDS)); //debug
    }

    protected override async Task OnInitializedAsync()
    {
        //string doorConfigJson = PrApiCalls.JsonSerializer<DoorConfig>(doorConfig);

        //Js.InvokeVoidAsync("alert", string.Format("in Movingwing OnInitializedAsync : doorConfig.EXTCOLORID= ", doorConfig.EXTCOLORID));  // debug

        //await ProtectedSessionStore.SetAsync("doorConfigJson", doorConfigJson);
        //var doorConfigJsonV = await ProtectedSessionStore.GetAsync<string> ("doorConfigJson");
        //if (doorConfigJsonV.Success)
        //{
        //    string doorConfigJson2 = doorConfigJsonV.Value;
        //    if (!string.IsNullOrEmpty(doorConfigJson2))
        //         doorConfig = Newtonsoft.Json.JsonConvert.DeserializeObject<DoorConfig>(doorConfigJson2);
        //}

        
        doorConfig.disabledFlds["DOORCOLORID"] = doorConfig.disabledFlds["EXTCOLORID"] = doorConfig.disabledFlds["INTCOLORID"] = true; // initialize colors as disabled.
        doorConfig.disabledFlds["HWCOLORID"] = false;   // new - Harware may be with COLORED != "Y" .
        
        // hardcoded ELECTRICAPPARATUS style ! 28/05/2022 
        if (doorConfig.ELECTRICAPPARATUS == null)
            doorConfig.ELECTRICAPPARATUS = string.Empty;
        doorConfig.borderColors["ELECTRICAPPARATUS"] = (!string.IsNullOrEmpty(doorConfig.ELECTRICAPPARATUS) ? string.Empty : "redBorder");

        string errMsg = string.Empty;
        dtTabFlds = UiLogic.getTabFields("movingwing", doorConfig, ref errMsg);
        //Js.InvokeVoidAsync("SayHelloJS");
    }

    // We must have this event handler in every tabPage because it uses doorConfig , and we can't pass it as a parameter to
    //   this type of method. Teh only parameter that can be passwed to this method is KeyboardEventArgs !
    // Otherwise I would have create a single event handler in UiLogic class 

    async Task KeyPressHandler(KeyboardEventArgs e)
        {
            string currTabName = "movingwing";
            if (e.Key.ToLowerInvariant() == "enter")
            {
                //RestartClicked = false;
                int j = 0;
                //DataTable dtTabFlds = new DataTable();
                //string currTabName = UiLogic.getTabOfField(doorConfig.currPropName);
                string nextfld = UiLogic.getNextTabFld(doorConfig, dtTabFlds, doorConfig.currPropName);
                if (!string.IsNullOrEmpty(nextfld))
                {
                    j = Array.IndexOf(UiLogic.propNames, nextfld);
                    if (doorConfig.dicRefs.ContainsKey(UiLogic.propNames[j]))
                        doorConfig.dicRefs[UiLogic.propNames[j]].FocusAsync();
                    return;
                }
                else
                {
                    string nextTabName = UiLogic.getNextTabName(doorConfig, currTabName);
                    if (UiLogic.try2UpdateBtnClass(doorConfig, currTabName))
                    {
                        config4.RefreshState();
                    }
                }
            }
        }
  }
<br />
<table>
    <tr>
        <td>
            <div class="tabPageTitle">
                <h1 class="rightLeftMargin">כנף נעה</h1>
            </div>
        </td>
    </tr>
</table>


<table id="MovingWingL1">
    <tr>
        <th id="thDoorWidth" hidden="@UiLogic.hideFld(doorConfig, "DoorWidth")">רוחב כנף</th>
        <th id="thDoorHeight" hidden="@UiLogic.hideFld(doorConfig, "DoorHeight")">גובה כנף</th>
        <th id="thOpenSide" hidden="@UiLogic.hideFld(doorConfig, "OpenSide")">צד פתיחה</th>   @* ימין\שמאל*@
        <th id="thOpenMode">פתיחה</th>   @* פנימה\החוצה *@
        @*  <th id="thDecorFormat" hidden="@UiLogic.hideFld(doorConfig, "DecorFormat")">עיצוב דקורציה (חוץ,פנים,דו צדדי)</th>  moved to Configurator4.razor divDoorTitle*@
        <th id="thColorsNum" hidden="@UiLogic.hideFld(doorConfig, "ColorsNum")">מספר גוונים</th>
        <th id="thWingColor" hidden="@UiLogic.hideFld(doorConfig, "thDoorColor")">גוון</th>
    </tr>
    <tr>

        <td id="tdDoorWidth" hidden="@UiLogic.hideFld(doorConfig, "DoorWidth")">
            @{  int i301 = Array.IndexOf(UiLogic.propNames, "DOORWIDTH");
                             <input name="txtWingWidth" type="number" @bind="DoorWidth" class="@doorConfig.borderColors["DOORWIDTH"]" 
                                  @onfocus="@( () => UiLogic.HasFocus("DOORWIDTH", doorConfig) )" 
                      onkeypress="@KeyPressHandler"
                                 @ref="doorConfig.dicRefs[UiLogic.propNames[i301]]"    /> 
                                 @*  @ref="txtWingWidth"   onkeypress="return event.keyCode!=13"   *@
            }
             @*<InputText name="txtWingWidth" type="number"  @bind-Value="DoorWidth"  class="@doorConfig.borderColors["DOORWIDTH"]" 
              style="outline:none" onkeypress="return event.keyCode!=13"/>
             *@

        @code
            {
                //private ElementReference txtWingWidth;
                protected int? _DoorWidth;
                protected int? DoorWidth
                {
                    get
                    {
                        if (doorConfig != null && doorConfig.DOORWIDTH > 0)
                        {
                            _DoorWidth = doorConfig.DOORWIDTH;
                        }
                        else
                            _DoorWidth = null;
                        // return _DoorWidth.ToString();
                        return _DoorWidth;
                    }
                    set
                    {
                        _DoorWidth = value;

                        if (value == null || value == 0 || !wingWidthIsOk((int)value, ref errMsg2))
                        {
                            errMsg2 = (value == null || value == 0 ? "חובה לציין רוחב דלת" : errMsg2);
                            msgCaption = string.Empty;
                            msgClass = "modal-body centeredMsg";
                            // the error text is in errMsg2 which was populated in wingWidthIsOk(...) 
                            openMsgBox = true;
                            value = _DoorWidth = 0;
                            StateHasChanged();
                            doorConfig.borderColors["DOORWIDTH"] = (value == 0 ? "redBorder" : string.Empty );
                            doorConfig.dicRefs["DOORWIDTH"].FocusAsync();
                            //this.StateHasChanged();
                        }
                        else
                        {
                            if (doorConfig != null)
                            {
                                doorConfig.DOORWIDTH = (_DoorWidth != null ? (int)_DoorWidth : 0);

                                if (!string.IsNullOrEmpty(doorConfig.PARTNAME) && doorConfig.TRSH_COMPLIENT == PrApiCalls.ELIDOOR_COMPLIENT)
                                {
                                    string errMsg = string.Empty;
                                    doorConfig.WINDOWWIDTH = calcWindowWidth(doorConfig, ref errMsg);
                                    if (doorConfig.WINDOWWIDTH == 0 && !string.IsNullOrEmpty(errMsg))
                                    {
                                        //Js.InvokeVoidAsync("alert", errMsg);
                                        errMsg2 = errMsg;
                                        openMsgBox = true;
                                        value = _DoorWidth = 0;
                                        doorConfig.dicRefs["DOORWIDTH"].FocusAsync();
                                        doorConfig.borderColors["DOORWIDTH"] = "redBorder";
                                        this.StateHasChanged();
                                    }
                                }
                                doorConfig.borderColors["DOORWIDTH"] = (value == 0 ? "redBorder" : string.Empty );
                                UiLogic.disableTabFlds(doorConfig, "divDoorTitle");
                                UiLogic.clearFollowingTabFields(doorConfig, "movingwing");
                                config4.RefreshState();
                            }
                        }
                    }
                }
}
        </td>
        <td id="tdDoorHeight" hidden="@UiLogic.hideFld(doorConfig, "DoorHeight")">
            @{
                 int i302 = Array.IndexOf(UiLogic.propNames, "DOORHEIGHT");

                       <input name="txtDoorHeight" type="number" @bind="DoorHeight" class="@doorConfig.borderColors["DOORHEIGHT"]" 
                              @onfocus="@( () => UiLogic.HasFocus("DOORHEIGHT", doorConfig) )" 
                  onkeypress="@KeyPressHandler"
                              @ref="doorConfig.dicRefs[UiLogic.propNames[i302]]" />  
           }
            @* 
                @ref="txtDoorHeight"  

                <InputText name="txtDoorHeight" type="number" @bind-Value="DoorHeight" class="@doorConfig.borderColors["DOORHEIGHT"]"
             style="outline:none" onkeypress="return event.keyCode!=13"/>
             *@

            @code
            {
                private ElementReference txtDoorHeight;
                protected int? _DoorHeight;
                protected int? DoorHeight
                {
                    get
                    {
                        if (doorConfig != null && doorConfig.DOORHEIGHT > 0)
                        {
                            _DoorHeight = doorConfig.DOORHEIGHT;
                        }
                        else
                            _DoorHeight = null;

                        return _DoorHeight; //_DoorHeight.ToString();
                    }
                    set
                    {
                        _DoorHeight = value;
                    //if (!int.TryParse(value,out _DoorHeight))
                        //{
                        //    msgCaption = string.Empty;
                        //    errMsg2 = "ספרות בלבד";
                        //    msgClass = "modal-body centeredMsg";
                        //    openMsgBox = true;
                        // }
                        //else if (doorConfig != null)
                        if (doorConfig != null)
                        {
                            doorConfig.DOORHEIGHT = (_DoorHeight != null ? (int)_DoorHeight : 0);
                            //[TODO] implement the following lines
                            //if (chkbComplient.Checked)
                            //     txtWindowWidth.Text = calcWindowWidth();
                            if (!string.IsNullOrEmpty(doorConfig.PARTNAME) && doorConfig.TRSH_COMPLIENT == PrApiCalls.ELIDOOR_COMPLIENT)
                            {
                                errMsg2 = string.Empty;
                                setHingesAndWindowsData(doorConfig, ref errMsg2);
                                if (doorConfig.WINDOWHEIGHT == 0 && !string.IsNullOrEmpty(errMsg2))
                                {
                                    //Js.InvokeVoidAsync("alert", errMsg2);
                                    //msgClass = "modal-body redMessage";
                                    //errMsg3 = errMsg2;
                                    value = _DoorHeight = doorConfig.DOORHEIGHT = 0;

                                    openMsgBox = true;
                                    //txtDoorHeight.FocusAsync();
                                    doorConfig.borderColors["DOORHEIGHT"] = "redBorder";
                                    this.StateHasChanged(); 
                                }
                                else
                                {
                                    doorConfig.borderColors["LOCKDRILHEIGHT"] = (doorConfig.LOCKDRILHEIGHT != 0 ? string.Empty : "redBorder");  //update borderColor
                                                                                                                                                // of dlstLOCKDRILHEIGHT if its value was changed after DoorHeight was processsed
                                    this.StateHasChanged();
                                }
                            }
                            doorConfig.borderColors["DOORHEIGHT"] = (value != 0 ? string.Empty : "redBorder");
                                            @*
                               The following code lines are actually inside setHingesAndWindowsData

                            errMsg2 = string.Empty;
                            doorConfig.WINDOWHEIGHT = calcWindowHeight(doorConfig, ref errMsg2);
                            if (doorConfig.WINDOWHEIGHT == 0 && !string.IsNullOrEmpty(errMsg2))
                            {
                                //Js.InvokeVoidAsync("alert", errMsg2);
                                errMsg3 = errMsg2;
                                openMsgBox = true;
                            }
                            *@
                            if (doorConfig.DOORHEIGHT > 0)
                            {
                                UiLogic.disableTabFlds(doorConfig, "divDoorTitle");
                                UiLogic.clearFollowingTabFields(doorConfig, "movingwing");
                                config4.RefreshState();
                            }
                        }
                    }
                }
            }
        </td>

        <td id="tdOpenSide" hidden="@UiLogic.hideFld(doorConfig, "OpenSide")">
             @{  int i303 = Array.IndexOf(UiLogic.propNames, "OPENSIDE");
                        <select name="dlstOpenSide" @bind="openSide" disabled="@UiLogic.disableFld(doorConfig, "dlstOpenSide")"
                    class="@doorConfig.borderColors["OPENSIDE"]"
                                 @onfocus="@( () => UiLogic.HasFocus("OPENSIDE", doorConfig) )" 
                     onkeypress="@KeyPressHandler" 
                                @ref="doorConfig.dicRefs[UiLogic.propNames[i303]]"  >
                            <option> </option>
                            <option>ימין</option>
                            <option>שמאל</option>
                        </select>
            }
            @code
            {
                protected string _openSide = string.Empty;
                protected string openSide
                {
                    get
                    {
                        if (doorConfig != null)
                        {
                            _openSide = doorConfig.OPENSIDE;
                        }
                        return _openSide;
                    }
                    set
                    {
                        _openSide = value;
                        if (doorConfig != null)
                        {
                            doorConfig.OPENSIDE = _openSide;
                            doorConfig.borderColors["OPENSIDE"] = (!string.IsNullOrEmpty(value) ? string.Empty : "redBorder");
                            UiLogic.clearFollowingTabFields(doorConfig, "movingwing");
                        }
                    }
                }

            }
        </td>
       
        <td id="tdOpenMode">
             @{  int i304 = Array.IndexOf(UiLogic.propNames, "OPENMODE");
                        <select name="dlstOpenMode" @bind="openMode" class="@doorConfig.borderColors["OPENMODE"]"
                          @onfocus="@( () => UiLogic.HasFocus("OPENMODE", doorConfig) )" 
                     onkeypress="@KeyPressHandler" 
                                @ref="doorConfig.dicRefs[UiLogic.propNames[i304]]" >
                            <option></option>
                            <option>פנימה</option>
                            <option>החוצה</option>
                        </select>
            }
            @code
            {
                protected string _openMode = string.Empty;
                protected string openMode
                {
                    get
                    {
                        if (doorConfig != null)
                        {
                            _openMode = doorConfig.OPENMODE;
                        }
                        return _openMode;
                    }
                    set
                    {
                        _openMode = value;
                        if (doorConfig != null)
                        {
                            doorConfig.OPENMODE = _openMode;
                            doorConfig.borderColors["OPENMODE"] = (!string.IsNullOrEmpty(value) ? string.Empty : "redBorder");
                            UiLogic.clearFollowingTabFields(doorConfig, "movingwing");
                        }
                    }
                }
            }
        </td>

        <td id="tdColorsNum" hidden="@UiLogic.hideFld(doorConfig, "ColorsNum")">
             @{  int i305 = Array.IndexOf(UiLogic.propNames, "COLORSNUM");
                        <select name="dlstColorsNum"  @bind="ColorsNum"  class="@doorConfig.borderColors["COLORSNUM"]"
                             @onfocus="@( () => UiLogic.HasFocus("COLORSNUM", doorConfig) )" 
                     onkeypress="@KeyPressHandler" 
                             @ref="doorConfig.dicRefs[UiLogic.propNames[i305]]"  >
                            <option></option>
                            <option>ללא</option>
                            <option>1</option>
                            <option>2</option>
                        </select>
            }

            @code
            {
                protected string _ColorsNum = string.Empty;
                protected string ColorsNum
                {
                    get
                    {
                        if (doorConfig != null)
                        {
                            _ColorsNum = doorConfig.COLORSNUM;
                        }
                        return _ColorsNum;
                    }
                    set
                    {
                        _ColorsNum = value;
                        if (doorConfig != null)
                        {
                            doorConfig.COLORSNUM = _ColorsNum;
                            switch (_ColorsNum.Trim())
                            {
                                case "":
                                case "ללא":
                                    disableColor = disableExtColor = disableIntColor = true;
                                    doorConfig.disabledFlds["DOORCOLORID"] = doorConfig.disabledFlds["EXTCOLORID"] = doorConfig.disabledFlds["INTCOLORID"] = true;
                                    doorConfig.DOORCOLORID = doorConfig.EXTCOLORID = doorConfig.INTCOLORID = 0;
                                    //doorConfig.INTCOLORDES = string.Empty;
                                    break;
                                case "1":
                                    disableColor = false;
                                    doorConfig.disabledFlds["DOORCOLORID"] = false;
                                    disableExtColor = true;
                                    doorConfig.disabledFlds["EXTCOLORID"] = true;
                                    disableIntColor = true;
                                    doorConfig.disabledFlds["INTCOLORID"] = true;

                                    doorConfig.EXTCOLORID = doorConfig.INTCOLORID = 0;
                                    //doorConfig.INTCOLORDES = string.Empty;
                                    break;
                                case "2":
                                    disableColor = true;
                                    doorConfig.disabledFlds["DOORCOLORID"] = true;
                                    disableExtColor = disableIntColor = false;
                                    doorConfig.disabledFlds["EXTCOLORID"] = doorConfig.disabledFlds["INTCOLORID"] = false;
                                    doorConfig.DOORCOLORID = 0;
                                    break;
                            }
                            doorConfig.borderColors["COLORSNUM"] = (!string.IsNullOrEmpty(value) ? string.Empty : "redBorder");
                            UiLogic.clearFollowingTabFields(doorConfig, "movingwing");
                        }
                    }
                }

            }
        </td>



        <td id="tdDoorColor" hidden="@UiLogic.hideFld(doorConfig, "DoorColor")">
             @{  int i306 = Array.IndexOf(UiLogic.propNames, "DOORCOLORID");
                    <select name="dlstDoorColor" @bind="DoorColorId" class="@doorConfig.borderColors["DOORCOLORID"]" 
                          disabled="@doorConfig.disabledFlds["DOORCOLORID"]"  
                                   @onfocus="@( () => UiLogic.HasFocus("DOORCOLORID", doorConfig) )" 
                     onkeypress="@KeyPressHandler" 
                             @ref="doorConfig.dicRefs[UiLogic.propNames[i306]]" >
                        @if (PrApiCalls.lstColors != null)
                {
                            @foreach (TRSH_COLOR_Class c in PrApiCalls.lstColors)
                    {
                                <option value="@c.TRSH_COLORID">@UiLogic.colorTypeAndDes(c)</option>
                    }
                }
                    </select>
            }
        @code
        {

            protected int _DoorColorId = 0;
            protected int DoorColorId
            {
                get
                {
                    if (doorConfig != null)
                    {
                        _DoorColorId = doorConfig.DOORCOLORID;
                    }
                    return _DoorColorId;
                }
                set
                {
                    _DoorColorId = value;
                    if (doorConfig != null)
                    {
                        doorConfig.DOORCOLORID = _DoorColorId;
                        doorConfig.borderColors["DOORCOLORID"] = (value != 0 ? string.Empty : "redBorder");
                        UiLogic.clearFollowingTabFields(doorConfig, "movingwing");
                    }
                }
            }
        }
        </td>
    </tr>
</table>
<!-- end table MovingWingL1 -->
<br />
<table id="MovingWingL2">
    <tr>
        @* <th id="thTurboApparatus" hidden="@UiLogic.hideFld(doorConfig, "TurboApparatus")">מנגנון תגבור</th> *@
        <th id="thExtColor" hidden="@UiLogic.hideFld(doorConfig, "ExtColor")">גוון חוץ</th>  @* was in Extdecor.razor *@
        <th id="thIntColor" hidden="@UiLogic.hideFld(doorConfig, "thIntColor")">גוון פנים</th>  @* was in Intdecor.razor L1  *@
        <th id="thLockDrilHeight" hidden="@UiLogic.hideFld(doorConfig, "LockDrilHeight")">גובה ניקוב</th>

        @* <th id="thLogo" hidden="@UiLogic.hideFld(doorConfig, "Logo")">לוגו</th> *@

        <th id="thHw" hidden="@UiLogic.hideFld(doorConfig, "Hw")">פירזול</th>
        <th id="thHwColor" hidden="@UiLogic.hideFld(doorConfig, "HwColor")">צבע פירזול</th>
        <th id="thDril4Hw" hidden="@UiLogic.hideFld(doorConfig, "Dril4Hw")">ניקוב לפירזול</th>
    </tr>
    <tr>
        <td id="tdExtColor" hidden="@UiLogic.hideFld(doorConfig, "ExtColor")">
             @{  int i307 = Array.IndexOf(UiLogic.propNames, "EXTCOLORID");
                <select name="dlstExtColor" @bind="ExtColor" class="@doorConfig.borderColors["EXTCOLORID"]"
                    disabled="@doorConfig.disabledFlds["EXTCOLORID"]"  
                        @onfocus="@( () => UiLogic.HasFocus("EXTCOLORID", doorConfig) )" 
                     onkeypress="@KeyPressHandler" 
                             @ref="doorConfig.dicRefs[UiLogic.propNames[i307]]" >
                    @if (PrApiCalls.lstColors != null)
                {
                        @foreach (TRSH_COLOR_Class c in PrApiCalls.lstColors)
                    {
                            <option value="@c.TRSH_COLORID">@UiLogic.colorTypeAndDes(c)</option>
                    }
                }
                </select>
            }
            @code
            {
                protected int _ExtColor = 0;
                protected int ExtColor
                {
                    get
                    {
                        if (doorConfig != null)
                        {
                            _ExtColor = doorConfig.EXTCOLORID;
                        }
                        return _ExtColor;
                    }
                    set
                    {
                        _ExtColor = value;
                        if (doorConfig != null)
                        {
                            doorConfig.EXTCOLORID = _ExtColor;
                            doorConfig.borderColors["EXTCOLORID"] = (value != 0 ? string.Empty : "redBorder");
                            compareExtIntColors();
                            UiLogic.clearFollowingTabFields(doorConfig, "extdecor");
                        }
                    }
                }
                protected void compareExtIntColors()
                {
                    if (doorConfig.COLORSNUM == "2" && doorConfig.EXTCOLORID != 0 && doorConfig.INTCOLORID != 0
                         && doorConfig.EXTCOLORID == doorConfig.INTCOLORID)
                    {
                        errMsg2 = "בחרת 2 גוונים: גוון החוץ וגוון הפנים חייבים להיות שונים";
                        openMsgBox = true;
                        //txtDoorHeight.FocusAsync();
                        doorConfig.borderColors["EXTCOLORID"] = doorConfig.borderColors["INTCOLORID"] = "redBorder";
                        this.StateHasChanged(); 
                    }
                    else
                    {
                        doorConfig.borderColors["EXTCOLORID"] = (doorConfig.EXTCOLORID != 0 ? string.Empty : "redBorder");
                        doorConfig.borderColors["INTCOLORID"] = (doorConfig.INTCOLORID != 0 ? string.Empty : "redBorder");
                        this.StateHasChanged(); 
                    }
                }
            }
        </td>

        <td id="tdIntColor" hidden="@UiLogic.hideFld(doorConfig, "thIntColor")">
             @{  int i308 = Array.IndexOf(UiLogic.propNames, "INTCOLORID");
                <select name="dlstIntColor" @bind="IntColor" class="@doorConfig.borderColors["INTCOLORID"]"
                    disabled="@doorConfig.disabledFlds["INTCOLORID"]"  
                         @onfocus="@( () => UiLogic.HasFocus("INTCOLORID", doorConfig) )" 
                     onkeypress="@KeyPressHandler" 
                             @ref="doorConfig.dicRefs[UiLogic.propNames[i308]]" >
                    @if (PrApiCalls.lstColors != null)
                {
                        @foreach (TRSH_COLOR_Class c in PrApiCalls.lstColors)
                    {
                            <option value="@c.TRSH_COLORID">@UiLogic.colorTypeAndDes(c)</option>
                    }
                }
                </select>
            }
            @code
            {
                protected int _IntColor = 0;
                protected int IntColor
                {
                    get
                    {
                        if (doorConfig != null)
                        {
                            _IntColor = doorConfig.INTCOLORID;
                        }
                        return _IntColor;
                    }
                    set
                    {
                        _IntColor = value;
                        if (doorConfig != null)
                        {
                            doorConfig.INTCOLORID = _IntColor;
                            doorConfig.borderColors["INTCOLORID"] = (value != 0 ? string.Empty : "redBorder");
                            compareExtIntColors();
                            UiLogic.clearFollowingTabFields(doorConfig, "intdecor");
                        }
                    }
                }
            }
        </td>


        <td id="tdLockDrilHeight" hidden="@UiLogic.hideFld(doorConfig, "LockDrilHeight")">
             @{  int i309 = Array.IndexOf(UiLogic.propNames, "LOCKDRILHEIGHT");
                 <input name="txtLockDrilHeight" type="number" @bind="LockDrilHeight" class="@doorConfig.borderColors["LOCKDRILHEIGHT"]" 
                        @onfocus="@( () => UiLogic.HasFocus("LOCKDRILHEIGHT", doorConfig) )" 
                     onkeypress="@KeyPressHandler" 
                         @ref="doorConfig.dicRefs[UiLogic.propNames[i309]]"
                 />  
             }
       @* <InputText name="txtLockDrilHeight" type="number" @bind-Value="LockDrilHeight" class="@doorConfig.borderColors["LOCKDRILHEIGHT"]"
              style="outline:none" onkeypress="return event.keyCode!=13"/>
       *@
                    
        @code
        {
                protected int? _LockDrilHeight;
                protected int? LockDrilHeight
                {
                    get
                    {
                        if (doorConfig != null && doorConfig.LOCKDRILHEIGHT > 0)
                        {
                            _LockDrilHeight = doorConfig.LOCKDRILHEIGHT;
                        }
                        else
                            _LockDrilHeight = null;

                        return _LockDrilHeight; //.ToString();
                    }
                    set
                    {
                        _LockDrilHeight = value;
                                        @* if (!int.TryParse(value,out _LockDrilHeight))
                            {
                                msgCaption = string.Empty;
                                errMsg2 = "ספרות בלבד";
                                msgClass = "modal-body centeredMsg";
                                openMsgBox = true;
                            }
                            else if (doorConfig != null)
                        *@
                        if (doorConfig != null)
                        {
                            newLockDrilHeight = (int)value;
                            msgBorder1Style = "border:solid;border-color:red;";
                            //msgHeaderClass = "modal-header redBorder";
                            msgCaption = "שים לב:";
                            errMsg2 = "שינוי ערך בשדה גובה ניקוב מחייב להקליד את שאר המידות ידנית ,  האם להמשיך ?";
                            MsgTitleCssClass = string.Empty;  //"centeredMsg";
                            ErrMsgCssClass = "centeredMsg";   //msgClass = "modal-body centeredMsg";
                            YNissue = "lockDril";
                            openYesNo = true;
                            this.StateHasChanged();

                                            @*if (!ansYes)
                                return;
                            
                            if (_LockDrilHeight != doorConfig.LOCKDRILHEIGHT)
                            { 
                                doorConfig.LOCKDRILHEIGHT = (int)_LockDrilHeight;
                                UiLogic.clearFollowingTabFields(doorConfig, "movingwing");
                                clearHingesMeasures(doorConfig);
                            }
                            doorConfig.borderColors["LOCKDRILHEIGHT"] = (value != 0 ? string.Empty : "redBorder");
                            *@
                        }
                }
            }
        }
        </td>
        <td id="tdHw" hidden="@UiLogic.hideFld(doorConfig, "Hw")">
             @{  int i310 = Array.IndexOf(UiLogic.propNames, "TRSH_HARDWARE");
                <select name="dlstHw" @bind="Hw" class="@doorConfig.borderColors["TRSH_HARDWARE"]" 
                    @onfocus="@( () => UiLogic.HasFocus("TRSH_HARDWARE", doorConfig) )" 
                     onkeypress="@KeyPressHandler" 
                     @ref="doorConfig.dicRefs[UiLogic.propNames[i310]]" >
                    @{
                    string errMsg = string.Empty;
                    List<TRSH_HARDWARE_Class> lstPartHWs = PrApiCalls.getPartHWs(doorConfig.TRSH_DOOR_HWCATCODE, ref errMsg);

                    if (lstPartHWs != null)
                    {
                                            @foreach (TRSH_HARDWARE_Class c in lstPartHWs)
                        {
                                                <option value="@c.TRSH_HARDWARE">@c.PARTDES</option>
                        }
                    }
                    }
                </select>
            }
            @code
            {
                protected int _Hw = 0;
                protected int Hw
                {
                    get
                    {
                        if (doorConfig != null)
                        {
                            _Hw = doorConfig.TRSH_HARDWARE;
                        }
                        return _Hw;
                    }
                    set
                    {
                        _Hw = value;
                        if (doorConfig != null)
                        {
                            doorConfig.TRSH_HARDWARE = _Hw;
                            if (doorConfig.TRSH_HARDWARE == UiLogic.IdOfNone) // ללא
                            {
                                doorConfig.disabledFlds["HWCOLORID"] = true;
                                doorConfig.HWCOLORID = 0;
                                doorConfig.disabledFlds["DRIL4HW"] = true;
                                doorConfig.DRIL4HW = 0;
                                doorConfig.borderColors["DRIL4HW"] = doorConfig.borderColors["HWCOLORID"] = string.Empty;
                                return;
                            }
                            else
                            {
                                doorConfig.borderColors["TRSH_HARDWARE"] = (value != 0 ? string.Empty : "redBorder");
                                doorConfig.DRIL4HW = PrApiCalls.getDril4HwOfHw(doorConfig);
                                doorConfig.borderColors["DRIL4HW"] = (doorConfig.DRIL4HW != 0 ? string.Empty : "redBorder");
                                UiLogic.clearFollowingTabFields(doorConfig, "movingwing");

                                doorConfig.disabledFlds["HWCOLORID"] = !PrApiCalls.isHWColored(value);
                                doorConfig.borderColors["HWCOLORID"] = (doorConfig.disabledFlds["HWCOLORID"] || doorConfig.HWCOLORID != 0 ? string.Empty : "redBorder");
                                if (doorConfig.disabledFlds["HWCOLORID"])
                                    doorConfig.HWCOLORID = 0;   //clear the HWCOLORID field if it's disabled.
                            }
                        }
                    }
                }
            }
        </td>
        @{
            List<TRSH_COLOR_Class> tmpLstColors = new List<TRSH_COLOR_Class>(PrApiCalls.lstColors);
            tmpLstColors.Insert(1, new TRSH_COLOR_Class() { TRSH_COLORID = 99999, PARTDES = "ללא"  });
            //DataTable tmpDtColors = new DataTable();
            //tmpDtColors = tmpLstColors.ToDataTable<TRSH_COLOR_Class>();
        }
        <td id="tdHwColor" hidden="@UiLogic.hideFld(doorConfig, "HwColor")">
            @{  int i311 = Array.IndexOf(UiLogic.propNames, "HWCOLORID");
            <select name="dlstHwColor" @bind="HwColorId" class="@doorConfig.borderColors["HWCOLORID"]"  
                 disabled="@doorConfig.disabledFlds["HWCOLORID"]"  
                  @onfocus="@( () => UiLogic.HasFocus("HWCOLORID", doorConfig) )" 
                     onkeypress="@KeyPressHandler" 
                     @ref="doorConfig.dicRefs[UiLogic.propNames[i311]]" >
                @if (PrApiCalls.lstColors != null)
                {
                    @foreach (TRSH_COLOR_Class c in  tmpLstColors) //PrApiCalls.lstColors)
                    {
                        <option value="@c.TRSH_COLORID">@UiLogic.colorTypeAndDes(c)</option>
                    }
                }
            </select>
            }
        </td>
        @code
        {
            protected int _HwColorId = 0;
            protected int HwColorId
            {
                get
                {
                    if (doorConfig != null)
                    {
                        _HwColorId = doorConfig.HWCOLORID;
                    }
                    return _HwColorId;
                }
                set
                {
                    _HwColorId = value;
                    if (doorConfig != null)
                    {
                        doorConfig.HWCOLORID = _HwColorId;
                        doorConfig.borderColors["HWCOLORID"] = (value != 0 ? string.Empty : "redBorder");
                        UiLogic.clearFollowingTabFields(doorConfig, "movingwing");
                    }
                }
            }
        }

        <td id="tdDril4Hw" hidden="@UiLogic.hideFld(doorConfig, "Dril4Hw")">
            @{  int i312 = Array.IndexOf(UiLogic.propNames, "DRIL4HW");
            <select name="dlstDril4Hw" @bind="Dril4Hw" class="@doorConfig.borderColors["DRIL4HW"]"
              disabled="@doorConfig.disabledFlds["DRIL4HW"]" 
              @onfocus="@( () => UiLogic.HasFocus("DRIL4HW", doorConfig) )" 
                     onkeypress="@KeyPressHandler" 
                     @ref="doorConfig.dicRefs[UiLogic.propNames[i312]]" >

                @if (PrApiCalls.lstDril4Hw != null)
                {
                    @foreach (DRIL4HW_Class c in PrApiCalls.lstDril4Hw)
                    {
                        <option value="@c.DRIL4HW">@c.DRIL4HWDES</option>
                    }
                }
            </select>
            }
        </td>
        @code
        {
            protected int _Dril4Hw = 0;
            protected int Dril4Hw
            {
                get
                {
                    if (doorConfig != null)
                    {
                        _Dril4Hw = doorConfig.DRIL4HW;
                    }
                    return _Dril4Hw;
                }
                set
                {
                    _Dril4Hw = value;
                    if (doorConfig != null)
                    {
                        doorConfig.DRIL4HW = _Dril4Hw;
                        doorConfig.borderColors["DRIL4HW"] = (value != 0 ? string.Empty : "redBorder");
                        UiLogic.clearFollowingTabFields(doorConfig, "movingwing");
                    }
                }
            }
        }
    </tr>
</table>
<!-- end MovingWingL2 -->
<br />
<table id="MovingWingL3">
    <tr>
        <th id="thCylinder" hidden="@UiLogic.hideFld(doorConfig, "Cylinder")">צילינדר</th>
        <th id="thElectricApparatus" hidden="@UiLogic.hideFld(doorConfig, "ElectricApparatus")">מנגנון חשמלי</th>
        <th id="thTurboApparatus" hidden="@UiLogic.hideFld(doorConfig, "TurboApparatus")">מנגנון תגבור</th>
        <th id="thLogo" hidden="@UiLogic.hideFld(doorConfig, "Logo")">לוגו</th>
        <th id="thHasLock" hidden="@UiLogic.hideFld(doorConfig, "HasLock")">מנעול</th>
        @* <th id="thTwoSidesIDSDril" hidden="@UiLogic.hideFld(doorConfig, "TwoSidesIDSDril")">ניקוב שני צדדים IDS</th> *@
        @{
            bool h = UiLogic.hideFld(doorConfig, "thHandle");
        }

        @if (!h)
        {
            <th id="thHandle">ידית אומנויות</th>
        }

        <th id="thVents" hidden="@UiLogic.hideFld(doorConfig, "Ventilation")">פתחי אוורור</th>
        <th id="thRafafa" hidden="@UiLogic.hideFld(doorConfig, "Rafafa")">רפפת עשן</th>
        <th id="thCatDoor" hidden="@UiLogic.hideFld(doorConfig, "CatDoor")">פתח לחתול</th>
        @* <th id="thLCDEye" hidden="@UiLogic.hideFld(doorConfig, "LCDEyer")">LCD עינית</th> *@
    </tr>
    <tr>
        <td id="tdCylinder" hidden="@UiLogic.hideFld(doorConfig, "Cylinder")">
            @{  int i313 = Array.IndexOf(UiLogic.propNames, "PARTNAME");
            <select name="dlstCylinder" @bind="CylinderName" class="@doorConfig.borderColors["PARTNAME"]"
                @onfocus="@( () => UiLogic.HasFocus("PARTNAME", doorConfig) )" 
                     onkeypress="@KeyPressHandler" 
                     @ref="doorConfig.dicRefs[UiLogic.propNames[i313]]" >

                @if (PrApiCalls.lstCylinders != null)
                {
                    @foreach (CYLINDER_Class c in PrApiCalls.lstCylinders)
                    {
                        <option value="@c.PARTNAME">@c.PARTDES</option>
                    }
                }
            </select>
            }
        </td>
        @code
        {
            protected string _CylinderName = string.Empty;
            protected string CylinderName
            {
                get
                {
                    if (doorConfig != null)
                    {
                        _CylinderName = doorConfig.CYLINDERNAME;
                    }
                    return _CylinderName;
                }
                set
                {
                    _CylinderName = value;
                    if (doorConfig != null)
                    {
                        doorConfig.CYLINDERNAME = _CylinderName;
                        doorConfig.borderColors["PARTNAME"] = (!string.IsNullOrEmpty(value) ? string.Empty : "redBorder");
                        UiLogic.clearFollowingTabFields(doorConfig, "movingwing");
                    }
                }
            }
        }

        <td id="tdElectricApparatus" hidden="@UiLogic.hideFld(doorConfig, "ElectricApparatus")">
            @{  int i314 = Array.IndexOf(UiLogic.propNames, "ELECTRICAPPARATUS");
            <select name="dlstElectricApparatus" @bind="ElectricApparatus" class="@doorConfig.borderColors["ELECTRICAPPARATUS"]"
                     @onfocus="@( () => UiLogic.HasFocus("ELECTRICAPPARATUS", doorConfig) )" 
                     onkeypress="@KeyPressHandler" 
                     @ref="doorConfig.dicRefs[UiLogic.propNames[i314]]" >
                <option></option>
                <option>ללא</option>
                <option>R</option>
                <option>L</option>
            </select>
            }
        </td>
        @code
        {
            protected string _ElectricApparatus = string.Empty;
            protected string ElectricApparatus
            {
                get
                {
                    if (doorConfig != null)
                    {
                        _ElectricApparatus = doorConfig.ELECTRICAPPARATUS;
                    }
                    return _ElectricApparatus;
                }
                set
                {
                    _ElectricApparatus = value;
                    if (doorConfig != null)
                    {
                        doorConfig.ELECTRICAPPARATUS = _ElectricApparatus;
                        doorConfig.borderColors["ELECTRICAPPARATUS"] = (!string.IsNullOrEmpty(value) ? string.Empty : "redBorder");
                        UiLogic.clearFollowingTabFields(doorConfig, "movingwing");
                    }
                }
            }
        }
        <td id="tdTurboApparatus" hidden="@UiLogic.hideFld(doorConfig, "TurboApparatus")">
             @{  int i315 = Array.IndexOf(UiLogic.propNames, "TURBOAPPARATUS");
            <input type="checkbox" name="chkbTurboApparatus" @bind="TurboApparatus"  
                       @onfocus="@( () => UiLogic.HasFocus("TURBOAPPARATUS", doorConfig) )" 
                     onkeypress="@KeyPressHandler" 
                     @ref="doorConfig.dicRefs[UiLogic.propNames[i315]]"  
            />
            }
            @code
            {
                protected bool _TurboApparatus = false;
                protected bool TurboApparatus
                {
                    get
                    {
                        if (doorConfig != null)
                        {
                            _TurboApparatus = (doorConfig.TURBOAPPARATUS == "Y");
                        }
                        return _TurboApparatus;
                    }
                    set
                    {
                        _TurboApparatus = value;
                        if (doorConfig != null)
                        {
                            doorConfig.TURBOAPPARATUS = (_TurboApparatus ? "Y" : "");
                            UiLogic.clearFollowingTabFields(doorConfig, "movingwing");
                        }
                    }
                }
            }
        </td>

        <td id="tdLogo" hidden="@UiLogic.hideFld(doorConfig, "Logo")">
            @{  int i316 = Array.IndexOf(UiLogic.propNames, "LOGO");
            <input type="checkbox" name="chkbLogo" @bind="Logo" disabled="@disableLogo" 
                @onfocus="@( () => UiLogic.HasFocus("LOGO", doorConfig) )" 
                     onkeypress="@KeyPressHandler" 
                     @ref="doorConfig.dicRefs[UiLogic.propNames[i316]]"   />
             }
            @code
            {
                protected bool _Logo = false;
                protected bool Logo
                {
                    get
                    {
                        if (doorConfig != null)
                        {
                            _Logo = (doorConfig.LOGO == "Y");
                        }
                        return _Logo;
                    }
                    set
                    {
                        _Logo = value;
                        if (doorConfig != null)
                        {
                            doorConfig.LOGO = (_Logo ? "Y" : "");
                            UiLogic.clearFollowingTabFields(doorConfig, "movingwing");
                        }
                    }
                }

            }
        </td>
        
        <td id="tdLock" hidden="@UiLogic.hideFld(doorConfig, "Lock")">
            @{  int i317 = Array.IndexOf(UiLogic.propNames, "LOCKNAME");
            <select name="dlstLock" @bind="Lock" class="@doorConfig.borderColors["LOCKNAME"]" 
                 @onfocus="@( () => UiLogic.HasFocus("LOCKNAME", doorConfig) )" 
                     onkeypress="@KeyPressHandler" 
                     @ref="doorConfig.dicRefs[UiLogic.propNames[i317]]"  >
                @{
                    List<TRSH_LOCK_Class> lstPartLocks = PrApiCalls.getPartLocks(doorConfig.TRSH_DOOR_HWCATCODE, ref errMsg);
                    if (lstPartLocks != null)
                    {
                                        @foreach (TRSH_LOCK_Class c in lstPartLocks)
                        {
                                            <option value="@c.PARTNAME">@c.PARTDES</option>
                        }
                    }
                }
            </select>
            }
        </td>
        @code {
            protected string _Lock = string.Empty;
            protected string Lock
            {
                get
                {
                    if (doorConfig != null)
                    {
                        _Lock = doorConfig.LOCKNAME;
                    }
                    return _Lock;
                }
                set
                {
                    _Lock = value;
                    if (doorConfig != null)
                    {
                        doorConfig.LOCKNAME = _Lock;
                        doorConfig.borderColors["LOCKNAME"] = (!string.IsNullOrEmpty(value) ? string.Empty : "redBorder");
                        UiLogic.clearFollowingTabFields(doorConfig, "movingwing");
                    }
                }
            }
        }
        
        @*
                <td id="tdHasLock" hidden="@UiLogic.hideFld(doorConfig, "HasLock")">
                    <input type="checkbox" name="chkbHasLock" @bind="HasLock" />
                
                
                @code
                {
	                protected bool _HasLock = false;
	                protected bool HasLock
	                {
		                get
		                {
			                if (doorConfig != null)
			                {
				                _HasLock = (doorConfig.HASLOCK == "Y");
			                }
			                return _HasLock;
		                }
		                set
		                {
			                _HasLock = value;
			                if (doorConfig != null)
				                doorConfig.HASLOCK = (_HasLock ? "Y" : "");
		                }
	                }
                }
                    </td>
        *@

        @* if the user choose Dril4Hw == "IDS" then we enable  chkbTwoSidesIDSDril   *@
        @*
            <td id="tdTwoSidesIDSDril" hidden="@UiLogic.hideFld(doorConfig, "TwoSidesIDSDril")">
            <input type="checkbox" name="chkbTwoSidesIDSDril" @bind="TwoSidesIDSDril" disabled="@Dril4HwIsNotIDS(doorConfig)" />
            @code
            {
            protected bool _TwoSidesIDSDril = false;
            protected bool TwoSidesIDSDril
            {
            get
            {
            if (doorConfig != null)
            {
            _TwoSidesIDSDril = (doorConfig.DRIL4TWOSIDESIDS == "Y");
            }
            return _TwoSidesIDSDril;
            }
            set
            {
            _TwoSidesIDSDril = value;
            if (doorConfig != null)
            doorConfig.DRIL4TWOSIDESIDS = (_TwoSidesIDSDril ? "Y" : "");
            }
            }
            }
            </td>
        *@
        @if (!h)
        {
            <td id="tdHandle">
                 @{  int i318 = Array.IndexOf(UiLogic.propNames, "HANDLENAME");
                <select name="dlstHandle" @bind="Handle1" class="@doorConfig.borderColors["HANDLENAME"]" 
                @onfocus="@( () => UiLogic.HasFocus("HANDLENAME", doorConfig) )" 
                     onkeypress="@KeyPressHandler" 
                     @ref="doorConfig.dicRefs[UiLogic.propNames[i318]]"  >
                    @if (PrApiCalls.lstHandles != null)
                    {
                        @foreach (HANDLE_Class c in PrApiCalls.lstHandles)
                        {
                            <option value="@c.PARTNAME">@c.PARTDES</option>
                        }
                    }
                </select>
                }
           
                @code
                {
                protected string _Handle1 = string.Empty;
                protected string Handle1
                {
                    get
                    {
                        if (doorConfig != null)
                        {
                            _Handle1 = doorConfig.HANDLENAME;
                        }
                        return _Handle1;
                    }
                    set
                    {
                        _Handle1 = value;
                        if (doorConfig != null)
                        {
                            doorConfig.HANDLENAME = _Handle1;
                            // Handle is Optional
                            //doorConfig.borderColors["HANDLENAME"] = (!string.IsNullOrEmpty(value) ? string.Empty : "redBorder");
                            UiLogic.clearFollowingTabFields(doorConfig, "movingwing");
                        }
                    }
                }
            }
            </td>
        }
            @* end  tdHandle *@

        <td id="tdVents" hidden="@UiLogic.hideFld(doorConfig, "Vents")">
             @{  int i319 = Array.IndexOf(UiLogic.propNames, "VENTS");
            <select name="dlstVents" @bind="Vents" class="@doorConfig.borderColors["VENTS"]" 
            @onfocus="@( () => UiLogic.HasFocus("VENTS", doorConfig) )" 
                     onkeypress="@KeyPressHandler" 
                     @ref="doorConfig.dicRefs[UiLogic.propNames[i319]]" >
                <option></option>
                <option>ללא</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
            </select>
            }
            @code
            {
                protected string _Vents = string.Empty;
                protected string Vents
                {
                    get
                    {
                        if (doorConfig != null)
                        {
                            _Rafafa = doorConfig.VENTS;
                        }
                        return _Rafafa;
                    }
                    set
                    {
                        _Vents = value;
                        if (doorConfig != null)
                        {
                            doorConfig.VENTS = _Vents;
                           // doorConfig.borderColors["VENTS"] = (!string.IsNullOrEmpty(value) ? string.Empty : "redBorder");
                            UiLogic.clearFollowingTabFields(doorConfig, "movingwing");
                        }
                    }
                }
            }
        </td>
        <td id="tdRafafa" hidden="@UiLogic.hideFld(doorConfig, "Rafafa")">
            @{  int i320 = Array.IndexOf(UiLogic.propNames, "RAFAFAONMOVINGWING");
            <select name="dlstRafafa" @bind="Rafafa" class="@doorConfig.borderColors["RAFAFAONMOVINGWING"]" 
                @onfocus="@( () => UiLogic.HasFocus("RAFAFAONMOVINGWING", doorConfig) )" 
                     onkeypress="@KeyPressHandler" 
                     @ref="doorConfig.dicRefs[UiLogic.propNames[i320]]" >
                <option></option>
                <option>ללא</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
            </select>
            }
            @code
            {
                protected string _Rafafa = string.Empty;
                protected string Rafafa
                {
                    get
                    {
                        if (doorConfig != null)
                        {
                            _Rafafa = doorConfig.RAFAFAONMOVINGWING;
                        }
                        return _Rafafa;
                    }
                    set
                    {
                        _Rafafa = value;
                        if (doorConfig != null)
                        {
                            doorConfig.RAFAFAONMOVINGWING = _Rafafa;
                            //doorConfig.borderColors["RAFAFAONMOVINGWING"] = (!string.IsNullOrEmpty(value) ? string.Empty : "redBorder");
                            UiLogic.clearFollowingTabFields(doorConfig, "movingwing");
                            UiLogic.try2UpdateBtnClass(doorConfig, "movingwing");
                            
                            //debug
                            
                            // ref : https://stackoverflow.com/questions/55775060/blazor-component-refresh-parent-when-model-is-updated-from-child-component
                            // the 2nd answer : Update Parent State by calling it's StateHasChanged method

                               // doorConfig.btnClasses["hinges"] = "buttonActive";
                                config4.RefreshState();
                            // end debug 
                        }
                    }
                }
            }
        </td>
        <td id="tdCatDoor" hidden="@UiLogic.hideFld(doorConfig, "CatDoor")">
            @{  int i321 = Array.IndexOf(UiLogic.propNames, "CATDOOR");
                <input type="checkbox" name="chkbCatDoor" @bind="CatDoor" 
                   @onfocus="@( () => UiLogic.HasFocus("CATDOOR", doorConfig) )" 
                     onkeypress="@KeyPressHandler" 
                     @ref="doorConfig.dicRefs[UiLogic.propNames[i321]]"  />
            }
            @code
            {
                protected bool _CatDoor = false;
                protected bool CatDoor
                {
                    get
                    {
                        if (doorConfig != null)
                        {
                            _CatDoor = (doorConfig.CATDOOR == "Y");
                        }
                        return _CatDoor;
                    }
                    set
                    {
                        _CatDoor = value;
                        if (doorConfig != null)
                        {
                            doorConfig.CATDOOR = (_CatDoor ? "Y" : "N" );
                            //doorConfig.borderColors["CATDOOR"] = (!string.IsNullOrEmpty(value) ? string.Empty : "redBorder");
                            UiLogic.clearFollowingTabFields(doorConfig, "movingwing");
                        }
                    }
                }
            }
        </td>
        @*
            <td id="tdLCDEye" hidden="@UiLogic.hideFld(doorConfig, "LCDEye")">
            <input type="checkbox" name="chkbLCDEye" @bind="LCDEye" />
            @code
            {
            protected bool _LCDEye = false;
            protected bool LCDEye
            {
            get
            {
            if (doorConfig != null)
            {
            _LCDEye = (doorConfig.LCDEYE == "Y");
            }
            return _LCDEye;
            }
            set
            {
            _LCDEye = value;
            if (doorConfig != null)
            doorConfig.LCDEYE = (_LCDEye ? "Y" : "");
            }
            }
            }
            </td>
        *@
    </tr>
</table>
<!-- end table MovingWingL3 -->
@if (openMsgBox)
{
    <MsgBox Caption="@msgCaption"
        Message="@errMsg2"
        OnClose="OnDialogClose"
        MsgTitleCssClass="@MsgTitleCssClass"
        ErrMsgCssClass="@msgClass"
        Border1Style = "@msgBorder1Style"
    >
    </MsgBox>
    @code
    {
        private void OnDialogClose()
        {
            openMsgBox = false;
            errMsg2 = string.Empty;
        }
    }
}
@if (openYesNo)
{
  <MsgBox Caption="@msgCaption"
        Type="MsgBox.Category.YesNo"
        Message="@errMsg2"
        OnClose="OnCloseYesNo"
        MsgTitleCssClass="@MsgTitleCssClass"
        ErrMsgCssClass="@ErrMsgCssClass"
        Border1Style = "@msgBorder1Style" >
  </MsgBox>
    @code
    {
    private void OnCloseYesNo(bool isYes)
    {
        if (isYes)   // yesNo here is just for btnRestart !
        {
            ansYes = true;
            switch (YNissue)
            {
                case "lockDril":
                    if (newLockDrilHeight != doorConfig.LOCKDRILHEIGHT)  //(_LockDrilHeight != doorConfig.LOCKDRILHEIGHT )
                    {
                        doorConfig.LOCKDRILHEIGHT = newLockDrilHeight;   //(int)_LockDrilHeight;
                        UiLogic.clearFollowingTabFields(doorConfig, "movingwing");
                        clearHingesMeasures(doorConfig);
                    }
                    doorConfig.borderColors["LOCKDRILHEIGHT"] = (doorConfig.LOCKDRILHEIGHT != 0 ? string.Empty : "redBorder");
                    break;
            }
        }
        openYesNo = false;
        errMsg2 = string.Empty;
    }
}
}