@* ref: https://medium.com/informatics/blazor-server-project-6-how-to-create-reusable-modal-dialog-component-e2fdc612089b *@

<div class="modal fade show" id="myModal" style="display:block; background-color: rgba(10,10,10,.8);" aria-modal="true" role="dialog">
    <div class="modal-dialog" style="@Border1Style">
    <div class="modal-dialog" style="border:solid;border-color:black;margin:10px">
        <div class="modal-content" >
              <div class="modal-header centeredMsg" >
                <h4 class="@MsgTitleCssClass" style="margin-right: 170px;" >@Caption</h4>

                @*  CU asked to remove the close X from the messageBox *@
                @*
                @if (Type != Category.YesNo )
                {
                    <button type="button" class="close"
                        @onclick="@Cancel">
                        &times;
                    </button>
                }
                *@
              </div>
            @* div class="modal-body redMessage" *@

            <div class="@ErrMsgCssClass">
                <p>@Message</p>
            </div>
            <div class="modal-footer">
                @switch (Type)
                {
                    case Category.Okay:
                        <button type="button" class="btn btn-primary btnCentered"
                        @onclick=@Ok>
                            אישור
                        </button>
                        break;
                    case Category.SaveNot:
                        <button type="button" class="btn btn-primary"
                        @onclick=@Ok>
                            Save
                        </button>
                        <button type="button" class="btn btn-warning"
                        @onclick="@Cancel">
                            Don't Save
                        </button>
                        break;
                    case Category.DeleteNot:
                        <button type="button" class="btn btn-danger"
                        @onclick=@Ok>
                            Delete
                        </button>
                        <button type="button" class="btn btn-warning"
                        @onclick="@Cancel">
                            Don't Delete
                        </button>
                        break;
                    case Category.YesNo:
                        @*
                            <table id="tblYesNo" >
                            <tr>
                            <td class="tdYesNo floatR">
                            <button type="button" class="btn btnYesNo"
                            @onclick=@Yes>
                            כן
                            </button>
                            </td>
                            <td class="tdYesNo floatL">
                            <button type="button" class="btn btnYesNo"
                            @onclick="@Cancel">
                            לא
                            </button>
                            </td>
                            </tr>
                            </table>
                            <!-- end tblYesNo -->
                        *@
                        <div class="buttons">
                        <button type="button" class="btn btnYesNo floatR"
                        @onclick=@Yes>
                            כן
                        </button>
                        <button type="button" class="btn btnYesNo floatL"
                        @onclick="@Cancel">
                            לא
                        </button>
                        </div>
                        break;
                }
            </div>
        </div>
    </div>
</div>
</div>
@code {
    [Parameter]
    public string Caption { get; set; }

    [Parameter]
    public string Message { get; set; }

    [Parameter]
    public EventCallback<bool> OnClose { get; set; }

    [Parameter]
    public Category Type { get; set; }

    [Parameter]
    public string MsgTitleCssClass { get; set; }    //="modal-title redTitle"
    [Parameter]
    public string ErrMsgCssClass { get; set; }   //= "modal-body redMessage";
    [Parameter]
    public string  Border1Style { get; set; }  // e.g. "border:solid;border-color:red" , default is empty.String .

    private Task Cancel()
    {
        return OnClose.InvokeAsync(false);
    }
    private Task Ok()
    {
        return OnClose.InvokeAsync(true);
    }
    private Task Yes()
    {
        return OnClose.InvokeAsync(true);
    }
    public enum Category
    {
        Okay,
        SaveNot,
        DeleteNot,
        YesNo
    }
    //private string errMsgCssClass = "modal-body redMessage";
}