@using BlazorServerApp1.Data
@using System.Data;

@page "/Staticwing"

@inject IJSRuntime Js

@implements IDisposable

@inject NavigationManager Navigator


@code
{
    [Parameter]
    public DoorConfig doorConfig { get; set; }

    //[Parameter]
    //public bool ExtdecorIsFull { get; set; }

	[Parameter]
    public Configurator4 config4 { get; set; }
}

@code {

	private DataTable dtTabFlds = new DataTable();
	List<DRIL4HW_Class> lstD4HW1 = new List<DRIL4HW_Class>();
	List<CYLINDER_Class> lstCylinders1 = new List<CYLINDER_Class>();

	protected bool openMsgBox = false;
	private bool openYesNo = false;
	string errMsg2 = string.Empty;
	string errMsg3 = "xxxxxxxxxxxxxxxxxx";
	private string msgCaption = "שגיאה";
	string msgClass = "modal-body centeredMsg";
	private string MsgTitleCssClass = string.Empty;
	string msgHeaderClass = "modal-header";
	string msgBorder1Style = string.Empty;

	private string ErrMsgCssClass = "modal-body centeredMsg"; //"modal-body";  // "modal-body centeredMsg" 
	string YNissue = string.Empty;
	private bool ansYes = false;

	protected override async Task OnInitializedAsync()
	{

		string errMsg = string.Empty;
		doorConfig.config4 = config4;
		doorConfig.currTabName = "staticwing";
		doorConfig.dtTabFlds = UiLogic.getTabFields("staticwing", doorConfig, ref errMsg);
		lstCylinders1 = PrApiCalls.getCylindersByModelOpenMode(doorConfig, ref errMsg, true); // get also HALF Cylinders 

		if (UiLogic.tabPageIsFilled("staticwing", doorConfig))  // we came here back from a prev tab and actually the current tabPage is filled
																// so we should disable all it's fields !
		{
			string errMsg2 = string.Empty;
			UiLogic.disableTabFlds(doorConfig, "staticwing");
			// restore the LOV for SWING_DRIL4HW !
			lstD4HW1 = PrApiCalls.lstDril4Hw.ToList();
		}
		else // page not filled , it's not empty because even if we come here for the 1st time some fields are 
				// copied from movingwing .
		{


			// these are handled in applySwingHasLock() here below !
			//doorConfig.disabledFlds["HW4EXTRAWING"] =                   //06/07/2022 
			//doorConfig.disabledFlds["SWING_HWACCESSORYID"] =            //12/07/2022
			//doorConfig.disabledFlds["SWING_LOCKDRILHEIGHT"] = true;
			calcCentralColClrID(doorConfig);
			applySwingHasLock();
			doorConfig.CENTRALCOLWIDTH = (doorConfig.CENTRALCOLWIDTH == 0 ? 40 : doorConfig.CENTRALCOLWIDTH) ;  //06/07/2022 
																														// doorConfig.disabledFlds["SWING_HANDLENAME"] = (doorConfig.TRSH_WINGSNUMDES == "כנף וחצי"); // 06/07/2022 
																														//doorConfig.thClasses["HW4EXTRAWING"] = "thGray";   // 06/07/2022 
																														//   07/07/2022 - Eli asked to make this field Mandatory
			if (doorConfig.TRSH_WINGSNUMDES != "חצי כנף" && !string.IsNullOrEmpty(doorConfig.OPENSIDE))
			{
				doorConfig.SWING_OPENSIDE = (doorConfig.OPENSIDE == "ימין" ? "שמאל" : "ימין");
				doorConfig.disabledFlds["SWING_OPENSIDE"] = true;
				doorConfig.disabledFlds["OPENMODE"] = true;
			}

			//doorConfig.disabledFlds["HW4EXTRAWING"] = true;

			doorConfig.LOGO = (doorConfig.useLOGO ? "Y" : string.Empty);  // new 11/07/2022 , in case we didn't open movingwing (WINGSNUMDES == Half Wing ) we set LOGO here.
																				//  in case both WINGSNUMDES has more than one wing LOGO is always the same on both wings - see doc from 22/06/2022 !
																				//  that doc also states the the LOGO field in the staticwing is always disabled !
																				//  11.	"לוגו" יועתק מהכנף הנעה ולא ניתן יהיה לשינוי.
																				//doorConfig.TURBOAPPARATUS = (doorConfig.useLOGO ? "Y" : string.Empty);   // new 11/07/2022 

			doorConfig.SWING_TURBO = ((doorConfig.SWINGHASLOCK == "Y" &&  doorConfig.useLOGO) ? "Y" : string.Empty);   // new 11/07/2022 , updated 28/07/2022 
			doorConfig.disabledFlds["LOGO"] = true;
		}

		if (doorConfig.SWINGHASLOCK == "Y" && doorConfig.HW4EXTRAWING == 0 && doorConfig.TRSH_HARDWARE != 0)
		{
			doorConfig.HW4EXTRAWING = PrApiCalls.getOpposite_TRSH_HARDWARE(doorConfig.TRSH_HARDWARE); 
		}

		doorConfig.thClasses["SWING_TURBO"] = "thGray";
	}
	void calcCentralColClrID(DoorConfig doorConfig)
	{
		switch (doorConfig.COLORSNUM)
		{
			case "מגולוון" :
			case "1":
				doorConfig.CENTRALCOLCLRID = doorConfig.DOORCOLORID;
				break;
			case "2":
				doorConfig.CENTRALCOLCLRID = (doorConfig.OPENMODE == "פנימה" ? doorConfig.INTCOLORID : doorConfig.EXTCOLORID);
				break;
		}
	}
	protected void applySwingHasLock()
	{
		_SwingHasLock = (doorConfig.SWINGHASLOCK == "Y");

		if (doorConfig.SWINGHASLOCK != "Y")
		{
			doorConfig.HW4EXTRAWING = 0;
			doorConfig.SWING_HWACCESSORYID = 0;
			doorConfig.SWING_HWCOLORID = 0;
			doorConfig.SWING_DRIL4HW = 0;
			doorConfig.TRSH_SWING_CYLINDER = 0;
			doorConfig.SWING_LOCKNAME = string.Empty;

			doorConfig.SWING_TURBO = string.Empty;  // new 28/07/2022 

			//doorConfig.TURBOAPPARATUS = string.Empty;  //06/07/2022  TURBOAPPARATUS is N when StaticWing Doesn't have a LOCK !
			//doorConfig.LOCKDRILHEIGHT = 0;
			//doorConfig.SWING_TURBO = string.Empty;   // 11/07/2022 TURBO is affected ONLY by  Cust.TRSH_NOTECOMPLIENT
			//  so we don't change it here inside applySwingHasLock() !

			doorConfig.thClasses["LOCKDRILHEIGHT"] = 
			doorConfig.thClasses["TRSH_SWING_CYLINDER"] =
			doorConfig.thClasses["HW4EXTRAWING"] = 
			doorConfig.thClasses["SWING_HWACCESSORYID"] =
			doorConfig.thClasses["SWING_HWCOLORID"] = 
			doorConfig.thClasses["SWING_DRIL4HW"] = 
			doorConfig.thClasses["SWING_LOCKNAME"] = 
			doorConfig.thClasses["SWING_TURBO"] = "thGray";      //TODO - check this !

			//doorConfig.SWING_HANDLENAME , doorConfig.HANDLENAME;
			//doorConfig.SWING_HANDLECOLORID , doorConfig.HANDLECOLORID;

			doorConfig.disabledFlds["SWING_LOCKDRILHEIGHT"] = true;
			// Eli's request on 11/09/2022
			doorConfig.SWING_HANDLENAME = string.Empty;
			doorConfig.SWING_HANDLECOLORID = 0;
			doorConfig.SWING_LOCKNAME = string.Empty;

			doorConfig.disabledFlds["SWING_HANDLENAME"] = doorConfig.disabledFlds["SWING_HANDLECOLORID"] = string.IsNullOrEmpty(doorConfig.HANDLENAME);

			if (!string.IsNullOrEmpty(doorConfig.HANDLENAME))
			{
				//doorConfig.disabledFlds["SWING_HANDLENAME"] = doorConfig.disabledFlds["SWING_HANDLECOLORID"] = false;
				doorConfig.borderColors["SWING_HANDLENAME"] = (!string.IsNullOrEmpty(doorConfig.SWING_HANDLENAME) ? "blueBorder" : "redBorder");
				doorConfig.borderColors["SWING_HANDLECOLORID"] = (doorConfig.SWING_HANDLECOLORID != 0 ? "blueBorder" : "redBorder");
			}
			//else
			//{
			//	doorConfig.disabledFlds["SWING_HANDLENAME"] = doorConfig.disabledFlds["SWING_HANDLECOLORID"] = true;  //string.IsNullOrEmpty(doorConfig.HANDLENAME);
			//}
		}
		else  // withLOCK 
		{
			doorConfig.thClasses["LOCKDRILHEIGHT"] =
			doorConfig.thClasses["TRSH_SWING_CYLINDER"] =
			doorConfig.thClasses["HW4EXTRAWING"] =
			doorConfig.thClasses["SWING_HWACCESSORYID"] =
			doorConfig.thClasses["SWING_HWCOLORID"] =
			doorConfig.thClasses["SWING_DRIL4HW"] = "thBlue";
			doorConfig.thClasses["SWING_TURBO"] = "thGray";    //[TODO]: check this because doorConfig.SWING_TURBO  can be set if Cust.TRSH_TURBO is Y 
																		//I.e. doorConfig.useTurbo is true !
			doorConfig.disabledFlds["SWING_LOCKDRILHEIGHT"] = false; // it was disabled when !_SwingHasLock  - staticwing without Lock 
			doorConfig.thClasses["SWING_LOCKNAME"] = "thBlue";

			CYLINDER_Class noCyl = lstCylinders1.Find(x => x.PARTNAME == UiLogic.NameOfNone);  
			lstCylinders1.Remove(noCyl);

			// 16/08/2022 : Eli asked to copy the cylinder and hardware from the movingwing here when setting SWINGHASLOCK to Y ! 
			//  copy also : Hardware Color, Dril4Hw , Hanlde, Handle Color from movingwing !
			doorConfig.TRSH_SWING_CYLINDER = doorConfig.TRSH_CYLINDER;  
			doorConfig.borderColors["TRSH_SWING_CYLINDER"] = (doorConfig.TRSH_SWING_CYLINDER != 0  ? "blueBorder" : "redBorder");  // special for this field
																																		// that was changed from disabled to enabled+mandatory when SWINGHASLOCK was changed !
			doorConfig.HW4EXTRAWING = PrApiCalls.getOpposite_TRSH_HARDWARE(doorConfig.TRSH_HARDWARE);  //doorConfig.TRSH_HARDWARE;
			if (lstD4HW1 == null || lstD4HW1.Count == 0)
				setSWING_DRIL4HW();    // populate lstD4Hw1 - so that doorConfig.SWING_DRIL4HW can get a value from this LOV. Otherwise it'll not get
												//   a value, because this LOV acts also as a validator for the value of teh field. Thta value must exist in teh LOV of the field.
			doorConfig.SWING_DRIL4HW = doorConfig.DRIL4HW;
			if (doorConfig.SWING_DRIL4HW == PrApiCalls.IDS_TWOSIDES)  //16/08/2022 in staticwing if DRIL4HW is IDS it's always IDS_ONESIDE !
				doorConfig.SWING_DRIL4HW = PrApiCalls.IDS_ONESIDE;  
			doorConfig.SWING_HWCOLORID = doorConfig.HWCOLORID;

			doorConfig.SWING_HANDLENAME = doorConfig.HANDLENAME;
			doorConfig.disabledFlds["SWING_HANDLECOLORID"] = (!PrApiCalls.isHandleColored(doorConfig.HANDLENAME)
			                                                  || doorConfig.HANDLENAME == UiLogic.NameOfNone);

			doorConfig.SWING_HANDLECOLORID = doorConfig.HANDLECOLORID;

			doorConfig.SWING_TURBO = (doorConfig.useTurbo ? "Y" : string.Empty);  //new 31/07/2022 , requested again on 16/08/2022
			// LOGO is also copied, but there is no special field SWING_LOGO for staticwing as always we use teh LOGO of teh movinwing !
		}
		if (doorConfig.TRSH_WINGSNUMDES != "חצי כנף")
		{
			doorConfig.disabledFlds["SWING_LOCKDRILHEIGHT"] =
			doorConfig.disabledFlds["TRSH_SWING_CYLINDER"] =
			doorConfig.disabledFlds["HW4EXTRAWING"] = // 06/07/2022 HW4EXTRAWING is disabled by default !
			doorConfig.disabledFlds["SWING_HWACCESSORYID"] =
			doorConfig.disabledFlds["SWING_HWCOLORID"] =
			doorConfig.disabledFlds["SWING_DRIL4HW"] = !_SwingHasLock;
			doorConfig.disabledFlds["SWING_TURBO"] = !_SwingHasLock;   //TODO - check this ?
			doorConfig.disabledFlds["SWING_LOCKNAME"] = !_SwingHasLock;

			doorConfig.SWING_LOCKNAME = doorConfig.LOCKNAME;
		}
	}

	DRIL4HW_Class getDril4HalfCylinder()
	{
		foreach (DRIL4HW_Class dril in  PrApiCalls.lstDril4Hw)
		{
			if (dril.DRIL4HWDES.Contains("חצי צילינדר"))
				return dril;
		}
        return null;
    }

    async void IDisposable.Dispose()
    {
		 //if (!UiLogic.tabPageIsFilled("intdecor", doorConfig))
         // {
         //     Js.InvokeVoidAsync("alert", "יש למלא את כל השדות בלשונית 'דקורציה פנים' י");
         // }
         //int x = 17;
         //if (x == 18)
         //{
         //    Js.InvokeVoidAsync("alert", "error !");
         //    //NavigationManager.NavigateTo("Movingwing", true);
         //}
    }
}

<br />
<table>
    <tr>
        <td>
            <div class="tabPageTitle">
                <h1 class="rightLeftMargin">כנף קבועה</h1>
            </div>
        </td>
    </tr>
</table>
<table id="staticWingL1">
        <tr>
			<th>נעילה</th>
            <th id="thExtraWingWidth" @hidden="@UiLogic.hideFld(doorConfig, "thExtraWingWidth")">רוחב כנף</th>
			<th>גובה כנף</th>

            @{
				bool ccw = UiLogic.hideFld(doorConfig, "thCentralColWidth"); 
				ccw = false;		
		    }
		    @if (!ccw) 	
			 { 	<th id="thCentralColWidth" >רוחב עמוד מרכזי</th> }

			<th id="thCentralColClrID" >גוון עמוד מרכזי</th>

			<th>פתיחה</th>
			<th id="thOpenDirection" >צד פתיחה</th>
			           
     @*
			@{	string thCyl = "thCylinder4HalfWing"; }
            <th id="thCylinder4HalfWing" @hidden="@UiLogic.hideFld(doorConfig, thCyl)">צילינדר כנף קבועה</th>
	 *@
			@* ref : https://stackoverflow.com/questions/63693734/how-to-show-hide-an-element-in-real-time-blazor *@
	  @*
			
			@{
				bool dew = UiLogic.hideFld(doorConfig, "thDesignedExtraWing");
			}
			@if (!dew)
			{	
				<th id="thDesignedExtraWing" >כנף נוספת מעוצבת</th>
			}
			@{
				bool dww = UiLogic.hideFld(doorConfig, "thDesignedWindowedWing");
			}
			@if (!dew)
			{	
				<th id="thDesignedWindowedWing" >כנף מעוצבת עם חלון</th>
			}
	  *@
        </tr>
        <tr>
			<td>
 			  @{  int i601 = Array.IndexOf(UiLogic.propNames, "SWINGHASLOCK");
				 	<input type="checkbox" name="chkbSwingHasLock" @bind="SwingHasLock"  
				      disabled="@doorConfig.disabledFlds["SWINGHASLOCK"]"
					   	@onfocus="@( () => UiLogic.HasFocus("SWINGHASLOCK", doorConfig) )" 
                     onkeypress="@doorConfig.KeyPressHandler" 
					 	@ref="doorConfig.dicRefs[UiLogic.propNames[i601]]"  
				/>
			}
            @code
			{
				protected bool _SwingHasLock;
				protected bool SwingHasLock
				{
					get
					{
						if (doorConfig != null)
						{
							_SwingHasLock = (doorConfig.SWINGHASLOCK == "Y");
						}
						return _SwingHasLock;
					}
					set
					{
						_SwingHasLock = value;
						if (doorConfig != null)
						{
							doorConfig.SWINGHASLOCK = (_SwingHasLock ? "Y" : string.Empty);
							doorConfig.EXTRAWINGWIDTH = 0;  // here we switched changed SWINGHASLOCK
			                                // by that we force the user to enter EXTRAWINGWIDTH so that it can be validated against UiLogic.MIN_SWING_WITHLOCK_W
											// or UiLogic.MIN_SWING_NOLOCK_W which are diffrent
							applySwingHasLock();
							StateHasChanged();
							//UiLogic.clearFollowingTabFields(doorConfig, "staticgwing");
                        }
                    }
                }
            }
			</td>

			<td id="tdExtraWingWidth">
				 @{  int i602 = Array.IndexOf(UiLogic.propNames, "EXTRAWINGWIDTH");
					<input type="number"  name="txtExtraWingWidth" @bind="ExtraWingWidth" class= "@doorConfig.borderColors["EXTRAWINGWIDTH"]" 
				    disabled="@doorConfig.disabledFlds["EXTRAWINGWIDTH"]"
				   	@onfocus="@( () => UiLogic.HasFocus("EXTRAWINGWIDTH", doorConfig) )" 
				   	@onblur="@( () => UiLogic.LostFocus(doorConfig) )" 
                     onkeypress="@doorConfig.KeyPressHandler" 
					 	@ref="doorConfig.dicRefs[UiLogic.propNames[i602]]"  
					/>
				}
           	@code
			{
				protected int? _ExtraWingWidth = 0;
				protected int? ExtraWingWidth
				{
					get
					{
						if (doorConfig != null && doorConfig.EXTRAWINGWIDTH > 0)
						{
							_ExtraWingWidth = doorConfig.EXTRAWINGWIDTH;
						}
						else
							_ExtraWingWidth = null;

						return _ExtraWingWidth;
					}
					set
					{
						_ExtraWingWidth = value;
						if (value == null || value == 0 || !UiLogic.wingWidthIsOk(doorConfig, (int)value, ref errMsg2))
                        {
                            errMsg2 = (value == null || value == 0 ? "חובה לציין רוחב דלת" : errMsg2);
                            msgCaption = string.Empty;
                            msgClass = "modal-body centeredMsg";
                            // the error text is in errMsg2 which was populated in wingWidthIsOk(...) 
                            openMsgBox = true;
                            value = _ExtraWingWidth = 0;
                            StateHasChanged();
                            doorConfig.borderColors["EXTRAWINGWIDTH"] = (value == 0 ? "redBorder" : string.Empty );
                            doorConfig.dicRefs["EXTRAWINGWIDTH"].FocusAsync();
                            //this.StateHasChanged();
                        }
                        else
                        {

							if (doorConfig != null)
							{
								doorConfig.EXTRAWINGWIDTH = (_ExtraWingWidth != null ? (int)_ExtraWingWidth : 0);
								doorConfig.borderColors["EXTRAWINGWIDTH"] = (value != 0 ? "blueBorder" : "redBorder");
								//UiLogic.clearFollowingTabFields(doorConfig, "staticwing");
							}
						}
					}
				}
			}
			</td>

			<td id="tdDoorHeight">
     			<input name="txtDoorHeight" type="number" @bind-value="DoorHeight" class="@doorConfig.borderColors["DOORHEIGHT"]" 
				   disabled="@doorConfig.disabledFlds["DOORHEIGHT"]" />
                @code 
				{
			    protected int? _DoorHeight;
                protected int? DoorHeight
                {
                    get
                    {
                        if (doorConfig != null && doorConfig.DOORHEIGHT > 0)
                        {
                            _DoorHeight = doorConfig.DOORHEIGHT;
                        }
                        else
                            _DoorHeight = null;

                        return _DoorHeight; //_DoorHeight.ToString();
                    }
  				    set
                    {
                        _DoorHeight = value;
					}
				}
				}
			</td>

			<td id="tdCentralColWidth" @hidden="@false" >
				 @{  int i603 = Array.IndexOf(UiLogic.propNames, "CENTRALCOLWIDTH");
						<select name="dlstCentralColWidth" @bind="CentralColWidth" class= "@doorConfig.borderColors["CENTRALCOLWIDTH"]" 
					   disabled="@doorConfig.disabledFlds["CENTRALCOLWIDTH"]"
					  	@onfocus="@( () => UiLogic.HasFocus("CENTRALCOLWIDTH", doorConfig) )" 
					  	@onblur="@( () => UiLogic.LostFocus(doorConfig) )" 
                     onkeypress="@doorConfig.KeyPressHandler" 
					 	@ref="doorConfig.dicRefs[UiLogic.propNames[i603]]"  
						>
							<option>0</option>
							<option>30</option>
							<option>40</option>
						</select>
					}
				</td>
			
			@code
			{
				protected int? _CentralColWidth = 40;
				protected int? CentralColWidth
				{
					get
					{
						if (doorConfig != null)
						{
							_CentralColWidth = doorConfig.CENTRALCOLWIDTH;
						}
						return _CentralColWidth;
					}
					set
					{
						_CentralColWidth = value;
						if (doorConfig != null)
						{
							doorConfig.CENTRALCOLWIDTH = (_CentralColWidth != null ? (int)_CentralColWidth : 0);
							doorConfig.borderColors["CENTRALCOLWIDTH"] = (value != 0 ? "blueBorder" : "redBorder");
							UiLogic.clearFollowingTabFields(doorConfig, "staticwing");
							if (UiLogic.try2UpdateBtnClass(doorConfig, "staticwing"))
                                  config4.RefreshState();
							
						}
					}
				}
			}
			<td id="tdCentralColClrID" >

                <input name="dlstCentralColClrID" @bind="CentralColClrDes" class= "@doorConfig.borderColors["CENTRALCOLCLRID"]"  
				   disabled="@doorConfig.disabledFlds["CENTRALCOLCLRID"]"
				/>
                    
                
            </td>
            @code
            {
	            protected int _CentralColClrID = 0;
				protected string _CentralColClrDes = string.Empty;
	            protected string CentralColClrDes
	            {
		            get
		            {
			            if (doorConfig != null)
			            {
				            _CentralColClrID = doorConfig.CENTRALCOLCLRID;
			            }
			            return PrApiCalls.getColorDes(_CentralColClrID);
		            }
		            set
		            {
			            _CentralColClrDes = value;
		            }
	            }
            }
            
		
				<td id="tdOpenMode">
                        <input name="dlstOpenMode" @bind="openMode" class="@doorConfig.borderColors["OPENMODE"]" 
						  disabled="@doorConfig.disabledFlds["OPENMODE"]" />

            @code
            {
                protected string _openMode = string.Empty;
                protected string openMode
                {
                    get
                    {
                        if (doorConfig != null)
                        {
                            _openMode = doorConfig.OPENMODE;
                        }
                        return _openMode;
                    }
                    set
                    {
                        _openMode = value;
                    }
                }
            }
        
			</td>

		    <td id="tdOpenDirection" >
                <input name="txtOpenDirection"   @bind="OpenDirection"  class="@doorConfig.borderColors["SWING_OPENSIDE"]"   
				   disabled="@doorConfig.disabledFlds["SWING_OPENSIDE"]"   /> 
            </td>
            @code
            {
				protected string _OpenDirection = string.Empty;
				protected string OpenDirection
				{
					get
					{
						if (doorConfig != null)
						{
							_OpenDirection = (doorConfig.OPENSIDE == "ימין" ? "שמאל" : "ימין");
						}
						return _OpenDirection;
					}
					set
					{
						_OpenDirection = value;
						if (doorConfig != null)
							doorConfig.SWING_OPENSIDE = _OpenDirection;
					}
				}
            }
        </tr>

           @* end of StaticwingL1 *@
		   </table>
           <!--end table staticWingL1 -->

		   <table id="staticWingL2">
            <tr>
		    <th>גוון כנף קבועה</th>
			<th>גוון חוץ כנף קבועה</th>
			<th>גוון פנים כנף קבועה</th>
			<th class="@doorConfig.thClasses["LOCKDRILHEIGHT"]" >גובה ניקוב</th>

			@{	string thCyl = "thCylinder4HalfWing"; }
            <th id="thCylinder4HalfWing" @hidden="@UiLogic.hideFld(doorConfig, thCyl)" class= "@doorConfig.thClasses["TRSH_SWING_CYLINDER"]" >צילינדר כנף קבועה</th>

			@{ 	bool hw4 = UiLogic.hideFld(doorConfig, "thHW4ExtraWing"); 	}
			@if (!hw4)
			{
				<th id="thHW4ExtraWing" class="@doorConfig.thClasses["HW4EXTRAWING"]">פרזול כנף קבועה</th>
			}
			<th class="@doorConfig.thClasses["SWING_HWACCESSORYID"]" >נילווים לפירזול כ. ק.</th>
			<th class="@doorConfig.thClasses["SWING_HWCOLORID"]">צבע פירזול</th>
			
			</tr>
			<tr>
				<td id="thSwingColorId">
					<input name="txtSwingColorID"  @bind="SwingColorDes"  class="@doorConfig.borderColors["DOORCOLORID"]"   
					  disabled="@doorConfig.disabledFlds["DOORCOLORID"]"  /> 

					@code 
					{
						protected int _SwingColorID = 0;
						protected string _SwingColorDes = string.Empty;
						protected string SwingColorDes
						{
							get
							{
								if (doorConfig != null)
								{
									_SwingColorID = doorConfig.DOORCOLORID;
								}
								return PrApiCalls.getColorDes(_SwingColorID);
							}
							set
							{
								_SwingColorDes = value;
							}
						}
					}
				</td>
				<td>
					<input name="txtSwingExtColorID"   @bind="SwingExtColorDes"  class="@doorConfig.borderColors["EXTCOLORID"]"   
					   disabled="@doorConfig.disabledFlds["EXTCOLORID"]"
					/> 
					@code 
					{
						protected int _SwingExtColorID = 0;
						protected string _SwingExtColorDes = string.Empty;
						protected string SwingExtColorDes
						{
							get
							{
								if (doorConfig != null)
								{
									_SwingExtColorID = doorConfig.EXTCOLORID;
								}
								return PrApiCalls.getColorDes(_SwingExtColorID);
							}
							set
							{
								_SwingExtColorDes = value;
							}
						}
					}
				</td>
				<td>
					<input name="txtSwingIntColorID"   @bind="SwingIntColorDes"  class="@doorConfig.borderColors["INTCOLORID"]"   
					   disabled="@doorConfig.disabledFlds["INTCOLORID"]"
					/> 
					@code 
					{
				protected int _SwingIntColorID = 0;
				protected string _SwingIntColorDes = string.Empty;
				protected string SwingIntColorDes
						{
							get
							{
								if (doorConfig != null)
								{
									_SwingIntColorID = doorConfig.INTCOLORID;
								}
								return PrApiCalls.getColorDes(_SwingIntColorID);
							}
							set
							{
								_SwingIntColorDes = value;
							}
						}
					}
				</td>
				<td>
					@*   height of Dril4Lock  Read Only it's identical to doorConfig.LOCKDRILHEIGHT which is set in movingwing. Because Lock Drill Heights on all wings 
						              should be identical *@
					<input name="txtSwing_LockDrilHeight"   @bind="Swing_LockDrilHeight"  class="@doorConfig.borderColors["SWING_LOCKDRILHEIGHT"]"  
					   disabled="@doorConfig.disabledFlds["SWING_LOCKDRILHEIGHT"]"
					/> 
					@code 
					{
				protected int? _Swing_LockDrilHeight = 0;
				protected int? Swing_LockDrilHeight
				{
					get
					{
						if (doorConfig != null ) 
						{
							//_Swing_LockDrilHeight = (doorConfig.SWINGHASLOCK == "Y" ? doorConfig.LOCKDRILHEIGHT : 0 );
							if (doorConfig.SWINGHASLOCK == "Y" && doorConfig.LOCKDRILHEIGHT > 0)
							{
								_Swing_LockDrilHeight = doorConfig.LOCKDRILHEIGHT;
							}
							else
								_Swing_LockDrilHeight = null;
						}
						return _Swing_LockDrilHeight;
					}
					set
					{
						_Swing_LockDrilHeight = value;
					}
				}
			}
			</td>
			  
				<td id="tdCylinder4HalfWing" @hidden="@UiLogic.hideFld(doorConfig, "thCylinder4HalfWing")">
				 @{  int i604 = Array.IndexOf(UiLogic.propNames, "TRSH_SWING_CYLINDER");
					<select name="dlstCylinder4HalfWing" @bind="Cylinder4HalfWing" class= "@doorConfig.borderColors["TRSH_SWING_CYLINDER"]" 
				 disabled="@doorConfig.disabledFlds["TRSH_SWING_CYLINDER"]"
				  	@onfocus="@( () => UiLogic.HasFocus("TRSH_SWING_CYLINDER", doorConfig) )" 
				  	@onblur="@( () => UiLogic.LostFocus(doorConfig) )" 
                     onkeypress="@doorConfig.KeyPressHandler" 
					 	@ref="doorConfig.dicRefs[UiLogic.propNames[i604]]"  >
					 	@if (lstCylinders1 != null)
					 {
							@foreach (CYLINDER_Class c in lstCylinders1)
						{
								<option value="@c.TRSH_CYLINDER">@c.PARTDES</option>
						}
					}
					</select>
				}
            </td>
            @code
		{
			protected int _Cylinder4HalfWing = 0;
			protected int Cylinder4HalfWing
			{
				get
				{
					if (doorConfig != null)
					{
						_Cylinder4HalfWing = doorConfig.TRSH_SWING_CYLINDER;
						//doorConfig.borderColors["TRSH_SWING_CYLINDER"] = (_Cylinder4HalfWing != 0  ? "blueBorder" : "redBorder");
					}
					return _Cylinder4HalfWing;
				}
				set
				{
					_Cylinder4HalfWing = value;
					if (doorConfig != null)
					{
						doorConfig.TRSH_SWING_CYLINDER = _Cylinder4HalfWing;
						doorConfig.borderColors["TRSH_SWING_CYLINDER"] = (value != 0  ? "blueBorder" : "redBorder");
						if (PrApiCalls.cylinderIsHalf(doorConfig.TRSH_SWING_CYLINDER))
						{
							// if the user selected 1/2 Cylinder the folowing two fields are emptied and disabled !
							doorConfig.HW4EXTRAWING = 0;
							//doorConfig.SWING_HWCOLORID = 0;  - 16/08/2022 - do not empty this field, copy it from movingwing !
							//                           copy HWCOLORID from movingwing is done in applySwingHasLock(...)
							//doorConfig.disabledFlds["HW4EXTRAWING"] = doorConfig.disabledFlds["SWING_HWCOLORID"] = doorConfig.disabledFlds["SWING_DRIL4HW"] = true;
							//   16/08/2022 - HW4EXTRAWING and SWING_DRIL4HW are ACTIVE , their values can be only those that can be used with Half Cylinder !

							doorConfig.disabledFlds["SWING_HWCOLORID"] = true;

							// as HW4EXTRAWING is ZERO (empty) , make lstD4HW1 a list with a single element and this element is 
							//  IDS_ONESIDE !
							lstD4HW1 = new List<DRIL4HW_Class>();
							DRIL4HW_Class dril4HalfCyl = getDril4HalfCylinder();
							lstD4HW1.Add(dril4HalfCyl);
							doorConfig.SWING_DRIL4HW = dril4HalfCyl.DRIL4HW;
						}
						else
						{
							//doorConfig.disabledFlds["HW4EXTRAWING"] =    // 06/07/2022 HW4EXTRAWING is disabled by default  !
							doorConfig.disabledFlds["SWING_HWCOLORID"] = false;
							doorConfig.disabledFlds["SWING_DRIL4HW"] = false;
							doorConfig.HW4EXTRAWING = (doorConfig.HW4EXTRAWING == 0 ? 
							             PrApiCalls.getOpposite_TRSH_HARDWARE(doorConfig.TRSH_HARDWARE) : doorConfig.HW4EXTRAWING );
							doorConfig.SWING_HWCOLORID = (doorConfig.SWING_HWCOLORID == 0 ? doorConfig.HWCOLORID : doorConfig.SWING_HWCOLORID);
							//find the SWING_DRIL4HW that is associated with HW4EXTRAWING
							setSWING_DRIL4HW();

							}
							//UiLogic.clearFollowingTabFields(doorConfig, "staticwing");
							 if (UiLogic.try2UpdateBtnClass(doorConfig, "staticwing"))
                                  config4.RefreshState();
						}
					}
				}
			}
				
				<td id="dlstHW4EXTRAWING" >  
					@* HW4EXTRAWING *@
					 @{  int i605 = Array.IndexOf(UiLogic.propNames, "HW4EXTRAWING");
						<input list="lstHw"  name="dlstHw" @bind="Hw4ExtraWingDes" class="@doorConfig.borderColors["HW4EXTRAWING"]" autocomplete="off"
					        disabled="@doorConfig.disabledFlds["HW4EXTRAWING"]"
							@onfocus="@( () => UiLogic.HasFocus("HW4EXTRAWING", doorConfig) )" 
							@onblur="@( () => UiLogic.LostFocus(doorConfig) )" 
							onkeypress="@doorConfig.KeyPressHandler" 
							@ref="doorConfig.dicRefs[UiLogic.propNames[i605]]" 
							/>
							<datalist id="lstHw">
						@{
							string errMsg = string.Empty;
							//List<TRSH_HARDWARE_Class> lstPartHWs = PrApiCalls.getDoorHWs(doorConfig.TRSH_DOOR_HWCATCODE, ref errMsg);
							 List<CYLHW_Class> lstCylHws1 = PrApiCalls.getCYLHWs1(doorConfig.TRSH_SWING_CYLINDER, doorConfig.SWING_OPENSIDE, doorConfig.OPENMODE, ref errMsg);
							 if (doorConfig.TRSH_MODELNAME == "MLI")   //hardcode for MLI 06/07/2022
							{
								CYLHW_Class CHw1 = lstCylHws1.Find(x => x.PARTDESHW == "ללא" );
								lstCylHws1.Remove(CHw1);
							}
							if (lstCylHws1 != null)
							{
								@foreach (CYLHW_Class c in lstCylHws1)
								{
											@* <option value="@c.TRSH_HARDWARE">@c.PARTDESHW</option> *@
											<option value="@c.PARTDESHW">@c.PARTDESHW</option>
								}
							}
						}
					</datalist>
				}
				@code
			{
				protected int _Hw4ExtraWing;
				//protected int Hw4ExtraWing
				protected string Hw4ExtraWingDes
				{
					get
					{
						if (doorConfig != null)
						{
							//_Hw4ExtraWing = PrApiCalls.getOpposite_TRSH_HARDWARE(doorConfig.HW4EXTRAWING);
							_Hw4ExtraWing = doorConfig.HW4EXTRAWING;
							if (doorConfig.HW4EXTRAWING == 0)
							{
								int dbg = 18;
							}
						}
						return PrApiCalls.getHwDes(_Hw4ExtraWing);
					}
					set
					{
						_Hw4ExtraWing = PrApiCalls.getHwIdByDes(value);
						if (doorConfig != null)
						{
							doorConfig.HW4EXTRAWING = _Hw4ExtraWing;
							setSWING_DRIL4HW();
						    @*if (doorConfig.HW4EXTRAWING == UiLogic.IdOfNone) // ללא   
                            {
                                doorConfig.disabledFlds["SWING_HWCOLORID"] = true;
                                doorConfig.SWING_HWCOLORID = 0;
                                // 18/06/2022 - when HARWARE is ללא DRIL4HW showuld be ENABLED !
                                //  therefore commented the three lines below.
                                // doorConfig.disabledFlds["DRIL4HW"] = true;
                                // doorConfig.DRIL4HW = 0;
                                // doorConfig.borderColors["DRIL4HW"] = doorConfig.borderColors["HWCOLORID"] = string.Empty;
                                lstD4HW1 = PrApiCalls.lstDril4Hw.ToList();  // the full list of Drills for Hardwares
                                return;
                            }
                            else
                            {
                               // doorConfig.borderColors["HW4EXTRAWING"] = (value != 0 ? "blueBorder" : "redBorder");  // it's OPTIONAL 
                                //doorConfig.DRIL4HW = PrApiCalls.getDril4HwOfHw(doorConfig);
								doorConfig.SWING_DRIL4HW = PrApiCalls.getDril4HwOfHw(doorConfig);
                                // populate the LOV for Dril4Hw based on Hardware selected .
                                string errMsg = string.Empty;
                                lstD4HW1 = PrApiCalls.getDril4Hw1(doorConfig.HW4EXTRAWING, ref errMsg);

                                //doorConfig.borderColors["SWING_DRIL4HW"] = (doorConfig.DRIL4HW != 0 ? "blueBorder" : "redBorder");
                                UiLogic.clearFollowingTabFields(doorConfig, "staticwing");

                                doorConfig.disabledFlds["SWING_HWCOLORID"] = !PrApiCalls.isHWColored(value);
                                doorConfig.borderColors["SWING_HWCOLORID"] = (doorConfig.disabledFlds["SWING_HWCOLORID"] || doorConfig.HWCOLORID != 0 ? "blueBorder" : "redBorder");
                                if (doorConfig.disabledFlds["SWING_HWCOLORID"])
                                    doorConfig.SWING_HWCOLORID = 0;   //clear the HWCOLORID field if it's disabled.
                            }*@
                        }
                    }
                }
            }
		  </td>

     	  @code	{
			protected void setSWING_DRIL4HW()
			{
				if (doorConfig.HW4EXTRAWING == UiLogic.IdOfNone) // ללא   
				{
					doorConfig.disabledFlds["SWING_HWACCESSORYID"] = true;
					doorConfig.SWING_HWACCESSORYID = 0;
					doorConfig.disabledFlds["SWING_HWCOLORID"] = true;
					doorConfig.SWING_HWCOLORID = 0;
					
					// 18/06/2022 - when HARWARE is ללא DRIL4HW should be ENABLED !
					//  therefore commented the three lines below.
					// doorConfig.disabledFlds["DRIL4HW"] = true;
					// doorConfig.DRIL4HW = 0;
					// doorConfig.borderColors["DRIL4HW"] = doorConfig.borderColors["HWCOLORID"] = string.Empty;
					lstD4HW1 = PrApiCalls.lstDril4Hw.ToList();  // the full list of Drills for Hardwares
					return;
				}
				else
				{
					// doorConfig.borderColors["HW4EXTRAWING"] = (value != 0 ? "blueBorder" : "redBorder");  // it's OPTIONAL 
					//doorConfig.DRIL4HW = PrApiCalls.getDril4HwOfHw(doorConfig);
					doorConfig.SWING_DRIL4HW = PrApiCalls.getDril4HwOfHw(doorConfig);
					// populate the LOV for Dril4Hw based on Hardware selected .
					string errMsg = string.Empty;
					lstD4HW1 = PrApiCalls.getDril4Hw1(doorConfig.HW4EXTRAWING, ref errMsg);
					foreach (DRIL4HW_Class d4hw in lstD4HW1)
					{
						if (d4hw.DRIL4HWDES.Contains("IDS") && d4hw.DRIL4HW != doorConfig.SWING_DRIL4HW) 
						{
							lstD4HW1.Remove(d4hw);  //07/07/2022 - Eli asked: on staticwing : if Dril4HW is IDS - the LOV should contain a single element ONE SIDE IDS Dril !
							break;  // this can be done only once Otherwise we'll get an error on the foreach statement - the collection lstD4HW1 was changed and the foreach 
							        //   crashed and cannot continue.
						}


					}

                    //doorConfig.borderColors["SWING_DRIL4HW"] = (doorConfig.DRIL4HW != 0 ? "blueBorder" : "redBorder");
                    //UiLogic.clearFollowingTabFields(doorConfig, "staticwing");

                    doorConfig.disabledFlds["SWING_HWCOLORID"] = !PrApiCalls.isHWColored(_Hw4ExtraWing);
                    doorConfig.borderColors["SWING_HWCOLORID"] = (doorConfig.disabledFlds["SWING_HWCOLORID"] || doorConfig.SWING_HWCOLORID != 0 ? "blueBorder" : "redBorder");
                    if (doorConfig.disabledFlds["SWING_HWCOLORID"])
                        doorConfig.SWING_HWCOLORID = 0;   //clear the HWCOLORID field if it's disabled.
                }
			}
		   }
		      
		   @* SWING_HWACCESSORYID   new 12/07/2022 *@
		   <td>
		   @{  int i617 = Array.IndexOf(UiLogic.propNames, "SWING_HWACCESSORYID");
             <input list="lstHwAcc2" name="dlstHw2" @bind="HwAccDes2" class="@doorConfig.borderColors["SWING_HWACCESSORYID"]" autocomplete="off"
                        disabled="@doorConfig.disabledFlds["SWING_HWACCESSORYID"]"
                        @onfocus="@( () => UiLogic.HasFocus("SWING_HWACCESSORYID", doorConfig) )" 
                        @onblur="@( () => UiLogic.LostFocus(doorConfig) )" 
                        onkeypress="@doorConfig.KeyPressHandler" 
                        @ref="doorConfig.dicRefs[UiLogic.propNames[i617]]" 
			/>
			<datalist id="lstHwAcc2">
                    @{
                        if (PrApiCalls.lstHwAccessories != null)
                        {
                            string HwColored = PrApiCalls.getHardware1(doorConfig.HW4EXTRAWING).COLORED;
                            @foreach (HWACCESSORY_Class hwa in PrApiCalls.lstHwAccessories)
                            {
                                if (hwa.COLORED == HwColored || hwa.HWACCESSORYID == 0 || hwa.HWACCESSORYID == UiLogic.IdOfNone)
                                {
                                   @* <option value="@hwa.HWACCESSORYID">@hwa.PARTDES</option> *@
								   <option value="@hwa.PARTDES">@hwa.PARTDES</option>
                                }
                            }
                        }
                    }
                    </datalist>
                    }
					 @code
                    {
                        protected int _HwAccessoryId;
                        //protected int HwAccessoryId
						protected string HwAccDes2
                        {
                            get
                            {
                                if (doorConfig != null)
                                {
                                    _HwAccessoryId = doorConfig.SWING_HWACCESSORYID;
                                }
                                return PrApiCalls.getHwAccDes(_HwAccessoryId);
                            }
                            set
                            {
                                _HwAccessoryId = PrApiCalls.getHwAccIdbyDes(value);
                                if (doorConfig != null)
                                {
                                    doorConfig.SWING_HWACCESSORYID = _HwAccessoryId;
                                    doorConfig.borderColors["SWING_HWACCESSORYID"] = (!string.IsNullOrEmpty(value) ? "blueBorder" : "redBorder");
									if (UiLogic.try2UpdateBtnClass(doorConfig, "staticwing"))
                                                    config4.RefreshState();
                                }
                            }
                        }
                    }
        </td>
		   @* end SWING_HWACCESSORYID *@
			
		@{
            List<TRSH_COLOR_Class> tmpLstColors = new List<TRSH_COLOR_Class>(PrApiCalls.lstColors);
            tmpLstColors.Insert(1, new TRSH_COLOR_Class() { TRSH_COLORID = 99999, PARTDES = "ללא"  });
            //DataTable tmpDtColors = new DataTable();
            //tmpDtColors = tmpLstColors.ToDataTable<TRSH_COLOR_Class>();
        }
        <td>
            @{  int i606 = Array.IndexOf(UiLogic.propNames, "SWING_HWCOLORID");
				<input list="lstHwColor2"  name="dlstSwing_HwColor" @bind="Swing_HwColorDes" class="@doorConfig.borderColors["SWING_HWCOLORID"]"  
				 autocomplete="off" 
                 disabled="@doorConfig.disabledFlds["SWING_HWCOLORID"]"  
				  	@onfocus="@( () => UiLogic.HasFocus("SWING_HWCOLORID", doorConfig) )" 
				  	@onblur="@( () => UiLogic.LostFocus(doorConfig) )" 
                     onkeypress="@doorConfig.KeyPressHandler" 
					 	@ref="doorConfig.dicRefs[UiLogic.propNames[i606]]" 
				/>
				<datalist id="lstHwColor2">
					@if (PrApiCalls.lstColors != null)
                {
						@foreach (TRSH_COLOR_Class c in  tmpLstColors) //PrApiCalls.lstColors)
                    {
							@* <option value="@c.TRSH_COLORID">@UiLogic.colorTypeAndDes(c)</option> *@
							<option value="@c.PARTDES">@c.PARTDES</option>

                    }
                }
				</datalist>
            }
			</td>
			@code
        {
            protected int _Swing_HwColorId = 0;
            //protected int Swing_HwColorId
			protected string Swing_HwColorDes
            {
                get
                {
                    if (doorConfig != null)
                    {
                        _Swing_HwColorId = doorConfig.SWING_HWCOLORID;
                    }
                    return UiLogic.colorDes(_Swing_HwColorId);
                }
                set
                {
                    _Swing_HwColorId = UiLogic.getColorIdByClrDes(value);
                    if (doorConfig != null)
                    {
                        doorConfig.SWING_HWCOLORID = _Swing_HwColorId;
                        doorConfig.borderColors["SWING_HWCOLORID"] = (!string.IsNullOrEmpty(value) ? "blueBorder" : "redBorder");  //05/08/2022 - I think this field is mandatory
                                                                       // if the HW is colored
                        //UiLogic.clearFollowingTabFields(doorConfig, "staticwing");
						if (UiLogic.try2UpdateBtnClass(doorConfig, "staticwing"))
                                   config4.RefreshState();
                    }
                }
            }
        }
			
			</tr>
			</table>
			<!-- end of table StaticwingL2-->
			<table id="StaticwingL3">
			<tr>
				
				<th class="@doorConfig.thClasses["SWING_DRIL4HW"]">ניקוב לפירזול</th>
				<th class= "@doorConfig.thClasses["SWING_TURBO"]" >מנגנון תגבור</th>
				<th>לוגו</th>
				<th class="@doorConfig.thClasses["SWING_LOCKNAME"]">מנעול</th>
				<th>ידית אומנותית</th>
				<th>צבע ידית אומנותית</th>
				<th>אוורור</th>

			@*	@{ bool rsw = UiLogic.hideFld(doorConfig, "thRafafaOnStaticWing"); }
				@if (!rsw) 	{ <th id="thRafafaOnStaticWing" >רפפת עשן</th> 	}
			*@
			    <th id="thRafafaOnStaticWing" >רפפת עשן</th>
				<th>פתח לחתול</th>
		    </tr>

			<tr>

				<td id="tdSwing_Dril4Hw">
				@* SWING_DRIL4HW *@
				@{  int i607 = Array.IndexOf(UiLogic.propNames, "SWING_DRIL4HW");
				<select name="dlstSwing_Dril4Hw" @bind="Swing_Dril4Hw" class="@doorConfig.borderColors["SWING_DRIL4HW"]"
					disabled="@doorConfig.disabledFlds["SWING_DRIL4HW"]" 
			  		@onfocus="@( () => UiLogic.HasFocus("SWING_DRIL4HW", doorConfig) )" 
			  		@onblur="@( () => UiLogic.LostFocus(doorConfig) )" 
                    onkeypress="@doorConfig.KeyPressHandler" 
					@ref="doorConfig.dicRefs[UiLogic.propNames[i607]]" >

					@* @if (PrApiCalls.lstDril4Hw != null)  *@
					@if (lstD4HW1 != null)
					{
						@* @foreach (DRIL4HW_Class c in PrApiCalls.lstDril4Hw) *@
						@foreach (DRIL4HW_Class c in lstD4HW1)
						{
							<option value="@c.DRIL4HW">@c.DRIL4HWDES</option>
						}
					}
				</select>
            }
			</td>
			@code
			{
				protected int _Swing_Dril4Hw = 0;
				protected int Swing_Dril4Hw
				{
					get
					{
						if (doorConfig != null)
						{
							_Swing_Dril4Hw = doorConfig.SWING_DRIL4HW;
						}
						return _Swing_Dril4Hw;
					}
					set
					{
						_Swing_Dril4Hw = value;
						if (doorConfig != null)
						{
							doorConfig.SWING_DRIL4HW = _Swing_Dril4Hw;
							//doorConfig.borderColors["DRIL4HW"] = (value != 0 ? "blueBorder" : "redBorder");
							//UiLogic.clearFollowingTabFields(doorConfig, "staticwing");
							if (UiLogic.try2UpdateBtnClass(doorConfig, "staticwing"))
                                   config4.RefreshState();
						}
					}
				}
			}

            <td id="tdSwing_Turbo" class="@doorConfig.thClasses["SWING_TURBO"]" >
			@{  int i613 = Array.IndexOf(UiLogic.propNames, "SWING_TURBO");
				<input type="checkbox" name="chkbSwing_Turbo" @bind="Swing_Turbo"  
			   disabled="@doorConfig.disabledFlds["SWING_TURBO"]"
			   	@onfocus="@( () => UiLogic.HasFocus("SWING_TURBO", doorConfig) )"
				   	@onblur="@( () => UiLogic.LostFocus(doorConfig) )" 
                     onkeypress="@doorConfig.KeyPressHandler" 
					 	@ref="doorConfig.dicRefs[UiLogic.propNames[i613]]" 
				/>
			}
            @code
            {
                protected bool _Swing_Turbo = false;
                protected bool Swing_Turbo
                {
                    get
                    {
                        if (doorConfig != null)
                        {
							//doorConfig.SWING_TURBO = (doorConfig.TRSH_ELIDOOR_LOGO == 1 ? "Y" : string.Empty);  // new 11/07/2022 
                            _Swing_Turbo = (doorConfig.SWING_TURBO == "Y");
							  
                        }
                        return _Swing_Turbo;
                    }
                    set
                    {
                        _Swing_Turbo = value;
                        if (doorConfig != null)
                        {
                            doorConfig.SWING_TURBO = (_Swing_Turbo ? "Y" : "");
                            //UiLogic.clearFollowingTabFields(doorConfig, "staticwing");
                        }
                    }
                }
            }
        </td>

        <td id="tdLogo" class="@doorConfig.thClasses["LOGO"]">
            <input type="checkbox" name="chkbLogo" @bind="Logo" 
				disabled="@doorConfig.disabledFlds["LOGO"]"	 />
            @code
            {
                protected bool _Logo = false;
                protected bool Logo
                {
                    get
                    {
                        if (doorConfig != null)
                        {
                            _Logo = (doorConfig.LOGO == "Y");  //copied from movingwing !
                        }
                        return _Logo;
                    }
                    set
                    {
                        _Logo = value;
                        if (doorConfig != null)
                        {
                            doorConfig.LOGO = (_Logo ? "Y" : "");   // note: we change here also the LOGO field in movingwing !
                            //UiLogic.clearFollowingTabFields(doorConfig, "staticwing");
                        }
                    }
                }

            }
        </td>
        
        <td id="tdLock"  class="@doorConfig.thClasses["SWING_LOCKNAME"]">
            @{  int i608 = Array.IndexOf(UiLogic.propNames, "SWING_LOCKNAME");
				<select name="dlstLock" @bind="Lock" class="@doorConfig.borderColors["SWING_LOCKNAME"]" 
			     disabled="@doorConfig.disabledFlds["SWING_LOCKNAME"]"
				 	@onfocus="@( () => UiLogic.HasFocus("SWING_LOCKNAME", doorConfig) )"
				 	@onblur="@( () => UiLogic.LostFocus(doorConfig) )" 
                     onkeypress="@doorConfig.KeyPressHandler" 
					 	@ref="doorConfig.dicRefs[UiLogic.propNames[i608]]"  >
					@{
                    List<TRSH_LOCK_Class> lstPartLocks = PrApiCalls.getPartAndLogoLocks(doorConfig.TRSH_DOOR_HWCATCODE, doorConfig.LOGO, ref errMsg);
                    if (lstPartLocks != null)
                    {
								@foreach (TRSH_LOCK_Class c in lstPartLocks)
                        {
									<option value="@c.PARTNAME">@c.PARTDES</option>
                        }
                    }
					}
				</select>
            }
        </td>
        @code {
            protected string _Lock = string.Empty;
            protected string Lock
            {
                get
                {
                    if (doorConfig != null)
                    {
                        _Lock = doorConfig.SWING_LOCKNAME;
                    }
                    return _Lock;
                }
                set
                {
                    _Lock = value;
                    if (doorConfig != null)
                    {
                        doorConfig.SWING_LOCKNAME = _Lock;
                        //doorConfig.borderColors["SWING_LOCKNAME"] = (!string.IsNullOrEmpty(value) ? "blueBorder" : "redBorder");
                        //UiLogic.clearFollowingTabFields(doorConfig, "staticgwing");
                        if (UiLogic.try2UpdateBtnClass(doorConfig, "staticwing"))
                                  config4.RefreshState();
                    }
                }
            }
        }

		<td>
			@* handle 4 static wing   new *@
			 @{  int i609 = Array.IndexOf(UiLogic.propNames, "SWING_HANDLENAME");
					<input list="lstHandles2" name="dlstHandle" @bind="Swing_HandleDes" class="@doorConfig.borderColors["SWING_HANDLENAME"]" 
					autocomplete="off"
				  disabled="@doorConfig.disabledFlds["SWING_HANDLENAME"]"	
				  	@onfocus="@( () => UiLogic.HasFocus("SWING_HANDLENAME", doorConfig) )" 
				  	@onblur="@( () => UiLogic.LostFocus(doorConfig) )" 
                     onkeypress="@doorConfig.KeyPressHandler" 
					 	@ref="doorConfig.dicRefs[UiLogic.propNames[i609]]"  
					/>
					<datalist id="lstHandles2">
						@if (PrApiCalls.lstHandles != null)
	                    {
							@foreach (HANDLE_Class c in PrApiCalls.lstHandles)
							{
								if (c.PARTNAME == doorConfig.HANDLENAME || c.PARTNAME == UiLogic.NameOfNone)
								{
									@* <option value="@c.PARTNAME">@c.PARTDES</option> *@
									string partName = (c.PARTNAME != UiLogic.NameOfNone ? c.PARTNAME : "ללא");
									<option value="@c.PARTDES">@c.PARTDES</option>
								}
							}
						}
					</datalist>
                }
           
                @code
                {
                protected string _Swing_HandleName = string.Empty;
                protected string Swing_HandleDes
                {
                    get
                    {
                        if (doorConfig != null)
                        {
                            _Swing_HandleName = doorConfig.SWING_HANDLENAME;
                        }
                        return (string.IsNullOrEmpty(_Swing_HandleName) ? string.Empty : PrApiCalls.getHandleDesByName(_Swing_HandleName));
                    }
                    set
                    {
                        _Swing_HandleName = PrApiCalls.getHandleNameByDes(value);
                        if (doorConfig != null)
                        {
                            doorConfig.SWING_HANDLENAME = _Swing_HandleName;
                            // Handle is a Required field independent of the HASLOCK flag ! 07/07/2022
                            doorConfig.borderColors["SWING_HANDLENAME"] = (!string.IsNullOrEmpty(value) ? "blueBorder" : "redBorder");
							 doorConfig.disabledFlds["SWING_HANDLECOLORID"] = (   doorConfig.HANDLENAME == UiLogic.NameOfNone 
                                                                        || !PrApiCalls.isHandleColored(doorConfig.SWING_HANDLENAME));
                            if (doorConfig.disabledFlds["SWING_HANDLECOLORID"])
                                doorConfig.SWING_HANDLECOLORID = 0;


                            //UiLogic.clearFollowingTabFields(doorConfig, "staticwing");
                             if (UiLogic.try2UpdateBtnClass(doorConfig, "staticwing"))
                                       config4.RefreshState();
                        }
                    }
                }
            }
		</td>
		<td>
			 @{  int i614 = Array.IndexOf(UiLogic.propNames, "SWING_HANDLECOLORID");
					<input list="lstHandleClrs2" name="dlstSwingHandleColorID"  @bind="Swing_HandleColorDes"  class= "@doorConfig.borderColors["SWING_HANDLECOLORID"]"
					autocomplete="off"
					disabled="@doorConfig.disabledFlds["SWING_HANDLECOLORID"]"	
				  	@onfocus="@( () => UiLogic.HasFocus("SWING_HANDLECOLORID", doorConfig) )" 
				  	@onblur="@( () => UiLogic.LostFocus(doorConfig) )" 
                     onkeypress="@doorConfig.KeyPressHandler" 
					 	@ref="doorConfig.dicRefs[UiLogic.propNames[i614]]" 
					/>
					<datalist id="lstHandleClrs2">
						@if (PrApiCalls.lstColors != null)
					{
							@foreach (TRSH_COLOR_Class c in PrApiCalls.lstColors)
						{
								@* <option value="@c.TRSH_COLORID">@c.PARTDES</option> *@
								 <option value="@c.PARTDES">@c.PARTDES</option>
						}
					}
				</datalist>
				}
		</td>
		@code
        {
	        protected int _Swing_HandleColorID = 0;
	        //protected int Swing_HandleColorID
			protected string Swing_HandleColorDes
	        {
		        get
		        {
			        if (doorConfig != null)
			        {
				        _Swing_HandleColorID = doorConfig.SWING_HANDLECOLORID;
			        }
			        return UiLogic.colorDes(_Swing_HandleColorID);
		        }
		        set
		        {
			        _Swing_HandleColorID = UiLogic.getColorIdByClrDes(value);
			        if (doorConfig != null)
                    {
				        doorConfig.SWING_HANDLECOLORID = _Swing_HandleColorID;
                        doorConfig.borderColors["SWING_HANDLECOLORID"] = (!string.IsNullOrEmpty(value) ? "blueBorder" : "redBorder");
                        //UiLogic.clearFollowingTabFields(doorConfig, "handle");
						if (UiLogic.try2UpdateBtnClass(doorConfig, "staticwing"))
                                   config4.RefreshState();
                    }
		        }
	        }
        }

		<td class="@doorConfig.thClasses["SWING_VENTS"]" >
			@* Vent 4 static wing new *@
			@{  int i610 = Array.IndexOf(UiLogic.propNames, "SWING_VENTS");
				<select name="dlstVents" @bind="Vents" class="@doorConfig.borderColors["SWING_VENTS"]" 
			 disabled="@doorConfig.disabledFlds["SWING_VENTS"]"
			 	@onfocus="@( () => UiLogic.HasFocus("SWING_VENTS", doorConfig) )" 
			 	@onblur="@( () => UiLogic.LostFocus(doorConfig) )" 
                     onkeypress="@doorConfig.KeyPressHandler" 
					 	@ref="doorConfig.dicRefs[UiLogic.propNames[i610]]" >
					<option></option>
                    <option>ללא</option>
                    <option>סט 1 תחתון</option>
                    <option>סט 1 עליון</option>
                    <option>שני סטים, עליון ותחתון</option>
                    <option>כל הדלת</option>
				</select>
            }
            @code
            {
                protected string _Vents = string.Empty;
                protected string Vents
                {
                    get
                    {
                        if (doorConfig != null)
                        {
                            _Vents = doorConfig.SWING_VENTS;
                        }
                        return _Vents;
                    }
                    set
                    {
                        _Vents = value;
                        if (doorConfig != null)
                        {
                            doorConfig.SWING_VENTS = _Vents;
                           // doorConfig.borderColors["VENTS"] = (!string.IsNullOrEmpty(value) ? "blueBorder" : "redBorder");
                            UiLogic.clearFollowingTabFields(doorConfig, "staticwing");
                            if (UiLogic.try2UpdateBtnClass(doorConfig, "staticwing"))
                                   config4.RefreshState();
                        }
                    }
                }
            }
		</td>

		<td id="tdRafafaOnStaticWing"  class="@doorConfig.thClasses["RAFAFAONSTATICWING"]">
               @{  int i611 = Array.IndexOf(UiLogic.propNames, "RAFAFAONSTATICWING");
				<select name="dlstRafafa" @bind="Rafafa" class="@doorConfig.borderColors["RAFAFAONSTATICWING"]" 
			    disabled="@doorConfig.disabledFlds["RAFAFAONSTATICWING"]"
					@onfocus="@( () => UiLogic.HasFocus("RAFAFAONSTATICWING", doorConfig) )" 
					@onblur="@( () => UiLogic.LostFocus(doorConfig) )" 
                     onkeypress="@doorConfig.KeyPressHandler" 
					 	@ref="doorConfig.dicRefs[UiLogic.propNames[i611]]" >
					<option></option>
                    <option>ללא</option>
                    <option>סט 1 תחתון</option>
                    <option>סט 1 עליון</option>
                    <option>שני סטים, עליון ותחתון</option>
                    <option>כל הדלת</option>
				</select>
            }
			 @code
            {
                protected string _Rafafa = string.Empty;
                protected string Rafafa
                {
                    get
                    {
                        if (doorConfig != null)
                        {
                            _Rafafa = doorConfig.RAFAFAONSTATICWING;
                        }
                        return _Rafafa;
                    }
                    set
                    {
                        _Rafafa = value;
                        if (doorConfig != null)
                        {
                            doorConfig.RAFAFAONSTATICWING = _Rafafa;
                            //doorConfig.borderColors["RAFAFAONMOVINGWING"] = (!string.IsNullOrEmpty(value) ? "blueBorder" : "redBorder");
                            //UiLogic.clearFollowingTabFields(doorConfig, "staticwing");
                            
							if (UiLogic.try2UpdateBtnClass(doorConfig, "staticwing"))
                                   config4.RefreshState();
                            
                            //debug
                            
                            // ref : https://stackoverflow.com/questions/55775060/blazor-component-refresh-parent-when-model-is-updated-from-child-component
                            // the 2nd answer : Update Parent State by calling it's StateHasChanged method

                               // doorConfig.btnClasses["hinges"] = "buttonActive";
                               // config4.RefreshState();
                            // end debug 
                        }
                    }
                }
            }
        </td>
			
		<td id="tdCatDoor" class="@doorConfig.thClasses["SWING_CATDOOR"]">
			@* Cat door 4 static wing - new *@
			@{  int i612 = Array.IndexOf(UiLogic.propNames, "SWING_CATDOOR");
					<input type="checkbox" name="chkbCatDoor" @bind="CatDoor"
				   disabled="@doorConfig.disabledFlds["SWING_CATDOOR"]"
				   	@onfocus="@( () => UiLogic.HasFocus("SWING_CATDOOR", doorConfig) )"
				   	@onblur="@( () => UiLogic.LostFocus(doorConfig) )" 
                     onkeypress="@doorConfig.KeyPressHandler" 
					 	@ref="doorConfig.dicRefs[UiLogic.propNames[i612]]"  />
            }
            @code
            {
                protected bool _CatDoor = false;
                protected bool CatDoor
                {
                    get
                    {
                        if (doorConfig != null)
                        {
                            _CatDoor = (doorConfig.SWING_CATDOOR == "Y");
                        }
                        return _CatDoor;
                    }
                    set
                    {
                        _CatDoor = value;
                        if (doorConfig != null)
                        {
                            doorConfig.SWING_CATDOOR = (_CatDoor ? "Y" : "N" );
                            //doorConfig.borderColors["CATDOOR"] = (!string.IsNullOrEmpty(value) ? "blueBorder" : "redBorder");
                            UiLogic.clearFollowingTabFields(doorConfig, "staticwing");
                            if (UiLogic.try2UpdateBtnClass(doorConfig, "staticwing"))
                                   config4.RefreshState();
                        }
                    }
                }
            }
		</td>
            
        </tr>
    </table>
    <!-- end table staticWingL3 -->
@if (openMsgBox)
{
    <MsgBox Caption="@msgCaption"
        Message="@errMsg2"
        OnClose="OnDialogClose"
        MsgTitleCssClass="@MsgTitleCssClass"
        ErrMsgCssClass="@msgClass"
        Border1Style = "@msgBorder1Style"
    >
    </MsgBox>
    @code
    {
        private void OnDialogClose()
        {
            openMsgBox = false;
            errMsg2 = string.Empty;
        }
    }
}
@if (openYesNo)
{
  <MsgBox Caption="@msgCaption"
        Type="MsgBox.Category.YesNo"
        Message="@errMsg2"
        OnClose="OnCloseYesNo"
        MsgTitleCssClass="@MsgTitleCssClass"
        ErrMsgCssClass="@ErrMsgCssClass"
        Border1Style = "@msgBorder1Style" >
  </MsgBox>
    @code
    {
    private void OnCloseYesNo(bool isYes)
    {
        if (isYes)   // yesNo here is just for btnRestart !
        {
            ansYes = true;
            switch (YNissue)
            {
                case "lockDril":
                    @*  [TODO] 
					if (newLockDrilHeight != doorConfig.LOCKDRILHEIGHT)  //(_LockDrilHeight != doorConfig.LOCKDRILHEIGHT )
                    {
                        doorConfig.LOCKDRILHEIGHT = newLockDrilHeight;   //(int)_LockDrilHeight;
                        UiLogic.clearFollowingTabFields(doorConfig, "movingwing");
                        clearHingesMeasures(doorConfig);
                    }
                    doorConfig.borderColors["LOCKDRILHEIGHT"] = (doorConfig.LOCKDRILHEIGHT != 0 ? "blueBorder" : "redBorder");
					*@
                    break;
            }
        }
        openYesNo = false;
        errMsg2 = string.Empty;
    }
}
}
 